[2021-07-16 14:12] kendru opened #4 "Self-install release process"
Implement the process from the installtest repo for delivering a binary release to users.

[2021-07-19 22:34] #4 closed

[2021-07-20 23:40] brandonbloom opened #18 "inherit vs blank env vars"
There is no way to distinguish between inherited environment variables and blank environment variables.

See https://docs.docker.com/compose/environment-variables/#set-environment-variables-in-containers vs https://docs.docker.com/compose/environment-variables/#pass-environment-variables-to-containers

[code]

[2021-07-21 20:26] brandonbloom opened #21 "if component spec is invalid, create still succeeds"
If you click "Create Process" twice in a row:

![image](https://user-images.githubusercontent.com/119164/126555231-161f8845-e803-4a9b-af8a-b5f99e396f77.png)

![image](https://user-images.githubusercontent.com/119164/126555247-a9e89a71-590b-4e0a-9e00-ef4014e2dd52.png)

Need either/both of earlier spec validation and an "error/invalid" state for components, so that creation will succeed and the comp

[2021-07-27 04:04] brandonbloom opened #38 "Pick a better port for syslog server"
We probably should make this configurable. It looks like 4500 is commonly used for IPSec NAT traversal, so this might break some VPNs.

_Originally posted by @kendru in https://github.com/deref/exo/pull/23#r677047390_

[2021-07-27 04:05] brandonbloom opened #39 "Support microseconds only, not nanoseconds."
Do you think that we should just let microseconds be the highest resolution we support?

_Originally posted by @kendru in https://github.com/deref/exo/pull/23#r677046598_

[2021-07-27 04:06] brandonbloom opened #40 "NextLog scan is broken"
Is this correct? If I'm reading this right, we are looking for a log with the same name as the key, but the key is `(log + <255>, id).

_Originally posted by @kendru in https://github.com/deref/exo/pull/23#r677096718_

[2021-07-27 04:08] brandonbloom commented on #40
@kendru Do you want to take on fixing this either (A) directly or (B) as part of the secondary index work? You're definitely better at this bit fiddling and index scanning than me.

Alternatively, we can do sqlite, which might be more appropriate for this subsystem :-P

[2021-07-27 16:41] kendru opened #44 "Handle stopping logio and supervised processes"
When we stop a process, we send SIGKILL to the logio process, orphaning the supervised process (and not stopping it). Instead, we should send a `SIGTERM` to logio, indicating that it should gracefully stop its child process, wait for termination, then stop itself. Configurable timeouts should be used in both exo and the supervisor, after which the child process should be killed. @BenElgar let me k

[2021-07-27 18:36] kendru commented on #40
@brandonbloom I'll fix this. I'll just do the same bit fiddling that we're doing elsewhere, but the larger storage change that I'm working will make this a non-issue.

[2021-07-27 18:56] #40 closed

[2021-07-27 19:11] brandonbloom commented on #44
Seems like this changed now?
https://github.com/deref/exo/pull/43

Was that true? I thought they were part of a process group and should have died together. Is that not true?

The hard requirement is a proper kill. Graceful shutdown with only OK if we include the timeout mechanism.

[2021-07-27 19:13] brandonbloom opened #47 "pass config to supervise process on stdin"
between https://github.com/deref/exo/pull/42/files and https://github.com/deref/exo/issues/44 we should just give up on command line flags and pass supervisor config as json on stdin

[2021-07-27 19:19] kendru commented on #44
No, sending SIGKILL will terminate the supervisor process, but it will orphan the children. The process never even receives the SIGKILL signal - it is entirely handled in the OS. Ben ran into this right away with the node process because clicking "stop" just killed the supervisor, but the node server was still running, and he could not restart it.

[2021-07-27 19:21] kendru commented on #44
The change that Ben made is a stopgap that will usually terminate the supervisor and the child process, but if the child is not well-behaved, it can still hang around. We need the supervisor to handle SIGTERM and SIGINT by trying to stop the child process (and forcefully killing it if it does not stop gracefully) then exiting itself. The `stop` handler for a process type should probably also wait

[2021-07-27 20:18] brandonbloom commented on #47
@BenElgar this is related to #44, so giving it to you. Here's how far I got :-P

[code]

I think the only other one would be like like `ShutdownTimeout int` in millis or something.

[2021-07-28 20:15] brandonbloom opened #54 "re-installing using pipe-to-sh doesn't restart daemon"
I think two things have to happen:

1) need to run `exo exit` if `exo` is on the path
2) the `ensureDaemon` health check should validate the version matches correctly

[2021-07-28 20:15] brandonbloom commented on #54
@kendru or @BenElgar - either of you want to take this one?

[2021-07-28 20:23] brandonbloom opened #55 "process with `--` in args being mishandled"
cc @siggisim

[2021-07-28 20:26] brandonbloom commented on #44
fixed on main branch

[2021-07-28 20:26] #44 closed

[2021-07-28 20:33] brandonbloom commented on #55
fixed in 2ad6ac0b656567415c84319f79de81f108b7fd87

I'll cut a release

[2021-07-28 20:33] #55 closed

[2021-07-28 22:08] brandonbloom opened #56 "self-update fails with release/bundled build"
![image](https://user-images.githubusercontent.com/119164/127402495-06ddfa62-2b59-48e9-8676-9d46fda2e905.png)

from exod.log:

[code]

via @siggisim

[2021-07-29 00:14] brandonbloom opened #57 "gui: make links in logs clickable"

[2021-07-29 16:08] kendru commented on #56
This should be fixed by https://github.com/deref/exo-install/commit/7b4304685290959c73e799b9808877320fc3d3b1 and https://github.com/deref/exo/commit/6e90f0ebce0e243f78672887d5d0c3f795a080bb. Will test on macos and close the issue if it works.

[2021-07-29 16:26] kendru commented on #56
Fixed in `2021.07.29`

[2021-07-29 16:26] #56 closed

[2021-07-29 17:27] kendru opened #61 "Show in UI when the daemon is not running"
When the daemon is not running, the UI should display an "exo is not running" message.

[2021-07-30 02:15] kendru opened #64 "Implement `exo feedback` command"
1. Create command: `exo feedback`
2. This command should open the default editor with a temporary file.
3. When this file is saved, a message is sent to Deref with the feedback.

[2021-07-30 08:40] norman784 opened #65 "Misleading UI in the readme"
The advertised UI in the readme is not the same as the web app.

[2021-07-30 14:16] brandonbloom commented on #65
You're right, it's a mockup we created, but we neglected to put an up-to-date screenshot in there. Assigning to @jwmza who can update it with a latest high-fi design soon.

[2021-08-02 07:43] peyloride opened #72 "Underscore (or similiar) in component names"
Hello,

My Procfile has some processes named like `sidekiq_invoice_outbound` and exo does not accept that, I don't know why exactly.

[2021-08-02 15:57] brandonbloom commented on #72
Hi @peyloride,

The current rules for component names are extremely restrictive and conservative, but we might relax them. Right now, names must be valid as domain names, which do not permit underscores. This is relevant because we're likely to add functionality around domain name management.

One thing we can do immediately, however, is to do some automatic renaming/translation when handling Proc

[2021-08-02 20:55] #72 closed

[2021-08-02 20:56] brandonbloom commented on #72
@peyloride Addressed this in #73. In the next release, we'll warn about the underscores, but translate them to dashes automatically.

[2021-08-02 20:56] brandonbloom commented on #57
@jwmza fixed in #66, now on main

[2021-08-02 20:56] #57 closed

[2021-08-02 20:57] brandonbloom commented on #38
assigning to @kendru to address as part of the configuration changes he's making in support of dogfooding.

[2021-08-02 21:19] siggisim opened #74 "Stop button in the UI has different behavior than `Ctrl+C`-ing the same process"
Not sure if this is intentional or not, but it leads to some annoying behavior when developing.

When I run `exo run tools/goreman/procfiles/Procfile.rexec` with this procfile in our repo: https://github.com/buildbuddy-io/buildbuddy
[code]

And hit stop in the UI on `exec`, I get no logs about a shutdown. When I hit play again - the error message
[code]
This leads me to believe the server that `ba

[2021-08-02 21:28] brandonbloom commented on #74
Hi @siggisim,

Could you please use `ps ax -o 'pid,ppid,pgid,command'` to look at the process id and process group ids for the server spawned by bazel? I'm curious if bazel's spawn is creating an isolated process group or not.

cc @BenElgar and @kendru who may have more insight in to this problem.

We'll get to the bottom of this & see if there is anything we can do to make exo more robust when ki

[2021-08-02 21:29] brandonbloom commented on #61
This is resolved on main now. @kendru let me know if there is any outstanding work

[2021-08-02 21:29] #61 closed

[2021-08-02 21:34] siggisim commented on #74
Here are the two processes, I believe the first is the `bazel run` and the second is our server:
[code]

[2021-08-02 21:37] siggisim commented on #74
To complicate things slightly further, I'm using https://github.com/bazelbuild/bazelisk - that's why that first process is Python.

[2021-08-02 23:07] brandonbloom commented on #74
OK, looks like they are in the same process group. Thanks for the details! That says to me it _should_ work.

Going to assign to @BenElgar to try to suss out what's happening here.

[2021-08-03 15:24] kendru opened #77 "cd/command chaining not supported in Procfile"
Foreman now supports `cd` and command chaining within a Procfile, e.g.:

[code]

Exo does not allow this behviour. The workaround is the following:

[code]

[2021-08-03 16:23] brandonbloom commented on #77
I didn't realize you could do this with Procfiles! I guess it makes sense if they are just passing a string along to a shell.

`cd` is pretty easy for us to support as a special case, we already handle environment variables. However, it's not clear to me what the right behavior is for chains. I'd like to keep the process component type free of variable interpretation, etc for security and simplici

[2021-08-03 16:49] brandonbloom opened #78 "[FEATURE]: Environment file handling"
Two main formats to support, in order of priority:

1. `.env` - simple key/value pairs (trivially safe)
2. `.envrc` - scripts as defined by https://direnv.net/ – naive handling would be risky, running arbitrary code in a directory. have to consider security threat model.

An enviornment file should be loaded prior to any process start, etc. The workspace configuration screen should have some UI fo

[2021-08-03 21:36] kendru opened #81 "PORT environment variable should not be set by default"
When starting a new process imported from a Procfile, exo automatically injects a `PORT` environment variable into the new process. This can have unintended consequences. For example, my application relies on a config file to specify the port, but it allows PORT to override this value. I expect that if I do not set this environment variable in a `Procfile`, `.envrc`, or similar that it will not be

[2021-08-03 21:37] kendru commented on #81
@brandonbloom why are we setting PORT in `import/procfile/convert.go`?

[2021-08-03 21:42] brandonbloom commented on #81
This is just how Procfiles are expected to work. See "Port Assignment" here: http://blog.daviddollar.org/2011/05/06/introducing-foreman.html

If you don't want that behavior, you need to either (A) change the application or (B) avoid Procfiles & use our own manifest format.

[2021-08-03 21:43] #81 closed

[2021-08-03 23:57] brandonbloom commented on #78
.env files should be safe, but .envrc files introduce risk around running arbitrary code when cd'ing in to a directory. I'd love to avoid  any sort of "do you trust this?" UX if we can help it. Maybe we should start with .env files for now, and revisit .envrc later.

[2021-08-04 15:57] BenElgar commented on #74
Hi @siggisim! Sorry, for the slow response. I've spent some time trying to reproduce the issue using the same Procfile and haven't had any luck: the `exec` process seems to successfully stop via the UI and port 9091 is no longer bound.

My working theory is that you're encountering some UI bug whereby the UI is failing to call the stop process API. Do you reckon you could try it again but include

[2021-08-04 16:11] siggisim commented on #74
Hey @BenElgar - thanks for looking into it!

Not seeing any weirdness in the Network tab, I see `stop-component` called with a 200 response code.

Maybe I'm just running an older exo version, and it's been fixed since. I'm running `exo 2021.07.30`.

When testing, did you wait until 9091 got bound before killing? It'd probably take a while because it has to do a build first.

[2021-08-04 16:23] BenElgar commented on #74
Yes, I'm using the same version of exo as you.

I don't manage to do a successful build due to some environmental issue[0] but the port does seem to be bound before I attempt to stop it:
[code]

and the port is no longer bound once the process is stopped via the UI. I'm going to try and get the build working to see if that helps me reproduce.

[0] I get the following error:
[code]

[2021-08-04 16:23] kendru opened #87 "[FEATURE] Support config profiles"
**Is your feature request related to a problem? Please describe.**
When I am developing exo, I constantly have to switch my client config in `config.toml` to point between the default installed version and the development version.

**Describe the solution you'd like**
I would like the `exo` cli to be aware of config profiles. `exo profiles ls` should display the available profiles with an `*` next

[2021-08-04 16:30] siggisim commented on #74
Hm okay, seems like if that port is being bound you're good. Seems like just the app is failing to build because `shasum` isn't installed., but the executor is building alright.

Might just be something Mac related then (I'm on a Mac). Feel free to close, I'm happy to work around it.

[2021-08-04 17:39] brandonbloom commented on #74
I'd feel better if we figured out what was going on :)

[2021-08-04 19:22] kendru opened #88 "[FEATURE] Git branch display/switch"
**Is your feature request related to a problem? Please describe.**
I love using exo for logs and process management, but I find that I constantly go to my terminal to check what branch I have checked out with Git.

**Describe the solution you'd like**
I would love to have my current git branch displayed in some status area (like in VSCode). When I click on this, I would like to see a list of branc

[2021-08-04 19:23] kendru commented on #38
This is now configurable per #76

[2021-08-04 19:23] #38 closed

[2021-08-05 15:21] kendru opened #94 "[FEATURE] Filterable logs"
**Is your feature request related to a problem? Please describe.**
When I have a large volume of logs, and I am looking for a particular string, I cannot do this easily with exo.

**Describe the solution you'd like**
I would like the log viewer to include a filter button. Clicking on this button should bring up a text box that I can type in to filter the logs. As I type, the logs are filtered to o

[2021-08-05 21:54] brandonbloom opened #97 "[BUG] Log output with a newline on the end never gets flushed."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**System Info (please complete the fol

[2021-08-05 23:27] brandonbloom commented on #74
We've reproduced this. Trying to fix. Thanks :)

[2021-08-06 00:28] brandonbloom commented on #74
+ @kendru for visibility.

In investigating this, found _all sorts of problems_, but haven't fixed this actual problem yet!

Various fixes are now on main: https://github.com/deref/exo/compare/5f8f1d7..6b2cf25

Still trying to root cause the main issue.

[2021-08-06 02:51] brandonbloom commented on #97
@kendru seems like you were auto-assigned, is that as part of the template ... for triage?

[2021-08-06 02:52] brandonbloom commented on #18
Worth noting: We now have a `type Dictionary map[string]*string` in the docker compose parsing bits which handles this sort of stuff, but we're not utilizing this approach in the unix process handling yet.

[2021-08-06 03:34] brandonbloom opened #98 "[FEATURE] Some exo/system events should appear in the log"
**Is your feature request related to a problem? Please describe.**

When processes start, stop, exit, etc, it's not obvious in the logs.

**Describe the solution you'd like**

There should be a log stream for system events like this, which appear in the aggregate log stream.

[2021-08-06 03:46] kendru commented on #97
@brandonbloom Yeah - I just had it do that so that I could triage them. Once we start getting some tickets opened by the community, I figured that we could figure out how to better handle them at that point.

[2021-08-06 04:35] brandonbloom commented on #74
OK, I've totally overhauled how this works and I _think_ it's fixed. Changes here:
https://github.com/deref/exo/compare/5f8f1d7..65eef975961fe8d76b88c0a7e218f94257e81d61

My brain is fried tonight though, so @BenElgar and @kendru please review these changes and sanity the behavior of things.

[2021-08-06 05:23] brandonbloom commented on #64
Do we really need this? We have various feedback mechanisms via Github, Slack, etc. I'm not sure why terminal feedback is worthwhile, vs just exposing like an email address or something.

[2021-08-06 05:53] kendru commented on #64
I don't think it's necessary. It's just an idea that I had for a low-friction feedback mechanism that I wanted to write down instead of forgetting immediately.

[2021-08-06 05:53] #64 closed

[2021-08-06 05:57] kendru commented on #88
@brandonbloom This is another one that I wanted to just write down. I don't think that VCS integration is going to be a priority for quite a while, so I'm closing this.

[2021-08-06 05:57] #88 closed

[2021-08-06 16:21] #94 closed

[2021-08-06 17:16] brandonbloom opened #104 "[FEATURE] "smart case" string filtering"
**Is your feature request related to a problem? Please describe.**

When filtering logs, I _usually_ want to search case insensitive, but sometimes I want to search case-sensitive.

**Describe the solution you'd like**

See "smartcase" in vim:
https://vim.fandom.com/wiki/Searching

I always have this on by default. Basically, if you search for an all-lowercase string, then the search is case insen

[2021-08-06 17:43] BenElgar opened #105 "[BUG] Unclear that anything is happening in the UI when docker images are building"
**Describe the bug**
The UI doesn't show any processes or inform you that anything is happening when a docker image is building.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `exo run docker-compose.yaml` for a docker compose file for which you don't have any cached docker images
2. Observe in the UI that the workspace is created with no components

**Expected behavior**
A loading bar

[2021-08-06 17:51] BenElgar opened #107 "[BUG] Unclear that error has occurred in UI"
**Describe the bug**
When an `exo run` command fails it is unclear that this has happened in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a docker-compose file with an error, e.g.
[code]

That will give an error like the following in the server but no error in the UI.
[code]

**Expected behavior**
Some error message in the UI

[2021-08-06 17:51] brandonbloom commented on #105
self-assigning b/c this is my top priority, i'm making really good progress on it.

[2021-08-06 17:52] brandonbloom commented on #107
Working on this as part of #105

[2021-08-06 17:55] #107 closed

[2021-08-06 17:56] kendru commented on #107
Closing as duplicate of/fixed by #105

[2021-08-06 17:57] kendru commented on #87
The `dexo` script solves this particular pain point, and it is very low priority otherwise.

[2021-08-06 17:57] #87 closed

[2021-08-06 17:57] BenElgar opened #108 "[BUG] exo run doesn't make clear that a service has failed to start"
When an `exo run` command fails it is unclear that this has happened in the UI.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a docker-compose file with an error, e.g.
[code]
2. Run `exo run docker-compose.yml`
This will output something equivalent to the following and not stop:
[code]

**Expected behavior**
Terminate the `exo run` with a non-zero status code or at least output an e

[2021-08-06 17:58] kendru commented on #77
@brandonbloom I like the idea of just passing it to `sh` if we detect any features that we do not handle natively.

[2021-08-06 18:03] BenElgar opened #109 "[BUG] Cannot run docker-compose images that don't specify a command"
**Describe the bug**
If a docker-compose image doesn't specify a command it won't work with `exo run`.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dockerfile that specifies a command, e.g.
[code]

2. Create a docker-compose that references it and doesn't include a command:
[code]

3. Run `exo run docker-compose.yml`, which will give something like:
[code]

In the server logs one

[2021-08-06 18:06] BenElgar opened #110 "[BUG] Doesn't work on linux because of host.internal.docker"
**Describe the bug**
host.internal.docker is a host that is added on both Windows and MacOS but doesn't exist in Linux. Exo uses this host for the syslog-address.

We need to do something like this: https://stackoverflow.com/a/62431165

[2021-08-06 18:34] brandonbloom commented on #77
For some reason, that scares me a little bit, but I'm not sure why...

[2021-08-06 18:54] brandonbloom opened #111 "[FEATURE] bash completions"
This should already be possible as part of the Cobra feature set, but we should figure out how to automate this as part of the install process.

[2021-08-06 19:11] brandonbloom commented on #108
Related: https://github.com/deref/exo/issues/21

[2021-08-06 19:16] brandonbloom commented on #109
We do a call to `ImageInspectWithRaw` in the `ensureImage` function. The result of that call has all the image config information needed to make this work. However, a quick glance at the docker-compose internals doesn't make it particularly clear which other bits of image config is used. We should look thoroughly and make sure that we just don't fix `CMD` here, we fix all the possible other config

[2021-08-06 19:17] brandonbloom commented on #110
@BenElgar assigning to you, as you're our resident linux user :) thanks

[2021-08-06 19:19] brandonbloom commented on #105
@BenElgar as a workaround while debugging other docker stuff, see `NOTE: [DOCKER_PROGRESS]`. The output gets written to stdout, which isn't part of the normal logs. You can do `tail -F ~/.exo/var/exod.stdout` (or `.dev/var/exod.stdout`)

[2021-08-06 19:25] brandonbloom opened #113 "upgrade to NPM 7"
should also add check-engines

[2021-08-09 18:59] kendru commented on #104
I'm not sure if the smart casing is a great option, since it's not especially intuitive. I'd rather expose an "advanced" regex filter interface if you need case sensitivity or a more advanced pattern. Eventually, I would love to implement a fuzzy search that functions more like VSCode's command bar. Thoughts?

[2021-08-09 19:03] #110 closed

[2021-08-09 20:30] #113 closed

[2021-08-09 21:59] brandonbloom commented on #104
I agree that some kind of UI for "advanced" filtering is probably the right first step before specific functionality such as ignore or smart case.

[2021-08-10 08:59] BenElgar opened #123 "[FEATURE] Support colourisation in logs"
This applies both to the UI and the CLI.

[2021-08-10 09:56] BenElgar commented on #108
I'll note that `docker-compose` quits when all containers have terminated and provides an option to quit when any container terminates.

[2021-08-10 11:27] BenElgar opened #125 "[BUG] Log pages load very slowly in wrong order in the UI"
If you view a process that has lots of logs it will load the logs forwards from the first line. This can be very slow if there are many thousands of lines of logs. Instead I'd propose that we load the most recent logs and then page backwards.

[2021-08-10 11:30] BenElgar opened #126 "[BUG] Logs are truncated"
**Describe the bug**
Long log lines are truncated and/or split across lines.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a docker-compose.yaml like so:
[code]
2. Run it with `exo run docker-compose.yaml`

**Expected behaviour**
One log line printed with 9000 dots on one line in both the UI and the CLI. Instead what happens is that some smaller number of dots is printed in the UI

[2021-08-10 11:43] BenElgar commented on #126
Fwiw I ran into this bug when trying to log the output of docker commands and found that the logs were being truncated at 1024 characters.

[2021-08-10 12:46] BenElgar opened #127 "[BUG] exo run handles lots of output poorly"
**Describe the bug**
If a command outputs a vast amount of logs exo run doesn't appear able to stop.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a docker compose that looks like this:
[code]
2. Send a SIGINT or SIGTERM to the `exo run` process
3. Witness as nothing happens

**Expected behavior**
The workspace should stop, terminating the container.

My assumption is that this happ

[2021-08-10 12:47] BenElgar commented on #127
Docker compose handles this gracefully

[2021-08-10 14:49] kendru commented on #125
@BenElgar Is this in the CLI, GUI, or both that you are seeing this?

[2021-08-10 14:51] kendru commented on #126
Yeah, I think that truncating long log lines (at least at 1024 characters) is not the write behaviour. I'll set a very large limit so that we should never run into it with typical logs.

[2021-08-10 20:40] #47 closed

[2021-08-10 20:40] brandonbloom commented on #123
heh, I tried to find this issue and could not because of british spelling. so adding some keywords with this comment :)

color, colorization

[2021-08-10 21:44] kendru commented on #123
@brandonbloom Thanks for commenting on this, otherwise we would have been working on it in parallel ;)

[2021-08-11 00:40] brandonbloom commented on #109
@BenElgar Do you want to take this one on?

[2021-08-11 00:59] #123 closed

[2021-08-11 11:46] BenElgar opened #138 "[BUG] Command sequences are not appropriately escaped when tailing logs"
**Describe the bug**
When logs from multiple processes are multiplexed in the terminal a process can interfere with the logs of another process. For instance, if process A emits `\u001b[1mhello\nbye\u001b[0m`, equivalent to:

**hello**
**bye**

and process B emits `oh no\n`, the output in the terminal can look like this:

13:38:26 **hello**
**13:38:26 oh no**
**13:38:26 bye**

Here the output of p

[2021-08-11 14:09] BenElgar commented on #109
Fixed this specific issue here: https://github.com/deref/exo/pull/141.

Will work on looking into what else docker compose does.

[2021-08-11 15:43] brandonbloom opened #144 "[BUG] Filter debouncing is wonky"
as discussed

[2021-08-11 15:52] brandonbloom opened #145 "[BUG] Fonts not bundled with release"
We're using fonts that are not bundled with the release, so if the user doesn't have them installed, they don't work!

[2021-08-11 16:36] #126 closed

[2021-08-11 19:15] kendru opened #148 "[BUG] `dexo exit` does not exit the dev daemon"
**Describe the bug**
When using the `dexo exit` command, it should exit the dev process. It currently exits the installed instance rather than the dev one.

**To Reproduce**
Steps to reproduce the behavior:
1. `cd` to the repo root directory
2. Run `exo run`, then press <kbd>Ctl</kbd>+<kbd>C</kbd> to stop the logs process.
3. Verify that the dev server is running: `dexo status`
4. Run `dexo exit`

[2021-08-11 19:20] brandonbloom opened #149 "[BUG] Procfile export order & ports"
**Describe the bug**

Exporting a procfile does not preserve procfile order, and includes redundant PORT variables.

[code]

**To Reproduce**

On current main, just do `exo apply Procfile` and you'll immediately see an "out of date" warning in the GUI. Press "export" then, get diff above.

**Expected behavior**

1) If the `PORT` would be redundant from the implicit port order in the procfile, we s

[2021-08-11 19:24] brandonbloom opened #151 "[BUG] Log viewer is scrolling, should be wrapping"
![image](https://user-images.githubusercontent.com/119164/129090433-4b15fd0c-dc5e-4b6e-8169-d0cf55feebc3.png)
![image](https://user-images.githubusercontent.com/119164/129090453-2a760fd2-e749-4959-b1bb-ed6d429f3235.png)

[2021-08-11 19:31] #125 closed

[2021-08-11 20:13] brandonbloom opened #153 "[FEATURE] Better dev server file watcher"
Lots of problems, starting a list:

- Doesn't ignore changes to *.swp files.

[2021-08-11 23:37] #138 closed

[2021-08-12 12:21] BenElgar opened #158 "[BUG] Log prefix contrast too low"
![image](https://user-images.githubusercontent.com/3443024/129057514-822df72a-997b-4bd8-95b0-0683b51723b6.png)

Contrast of the prefix of the output of tailing logs is so low as to be illegible in dark terminals.

[2021-08-12 14:09] BenElgar opened #162 "[BUG] Initial logs are missing from exo run"
**Describe the bug**
When using `exo run` the first few seconds of logs are missing.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a docker compose file like this:
[code]
2. Witness this behaviour:
[code]
Notice that the first log line printed is "3" when it should have been "0".

[2021-08-12 16:04] brandonbloom commented on #158
I'm not sure what to do about this unless we can somehow detect either the terminal theme or the OS light/dark mode setting (or both?)

Suggestions?

[2021-08-12 16:55] jwmza opened #166 "[BUG] Timestamps are wrong (timezone/hours offset)"
**Describe the bug**
In my actual local time, it is 12:38. The logs from `tick` correctly show this time, but the timestamps we create on the far left shows 4:38, an incorrect time.

**Expected behavior**
Our timestamps === actual user local time.

**Screenshots**
![image](https://user-images.githubusercontent.com/51100181/129234854-c28da10b-12e5-42b0-838a-ad89520809fd.png)

**System Info:**
 - OS

[2021-08-12 17:11] #105 closed

[2021-08-12 17:16] BenElgar commented on #158
I'm not entirely sure what the best option is. I've tried to find a way of getting the background colour but none of the solutions I immediately found seemed to work (or I was using them wrong). But apps like `htop` and `nmtui` manage it so it must be possible.

A simpler solution would probably just be to pick colours that work well on both dark and light terminals. If we stay away from very ligh

[2021-08-12 17:18] BenElgar commented on #166
For me they show up as GMT and I thought that was intentional

[2021-08-12 17:41] BenElgar commented on #166
Though I agree that a "Z" suffix to indicate Zulu time would be helpful

[2021-08-12 18:08] jwmza commented on #166
I'd rather they use _my_ timezone, not GMT.

However, it's probably best if this is an easily configurable switch, like color theme or any other user preference.

[2021-08-12 18:54] brandonbloom commented on #158
OK, let's see if we can fix this issue by improving the color pallet algorithm. It's here: https://github.com/deref/exo/blob/ff8800377a2cc1613924e156d05b39ee3afa22f7/cmd/exo/logs.go#L153-L162

Maybe @jwmza has some ideas for that?

Separately, we should probably figure out reliable terminal color detection, especially if we do a proper interactive TUI for the log viewer at some point.

[2021-08-12 19:06] brandonbloom commented on #166
My preference is to show local time and then have a hover/tooltip/etc with UTC. That gives you the best of both worlds: Local time for sanity while working independently, and a common timestamp for communicating when collaborating with others (which is less relevant for us now).

A cursory inspection suggests that the GUI already does the correct thing: loads UTC & converts to local during display

[2021-08-12 19:08] jwmza commented on #158
There are two separate options:

If it is possible to detect or select dark/light mode, we can get the best possible color generation with the following:

- Select dark, high saturation colors for a light background
- Select bright, low saturation colors for a dark background
- Brighten colors around ~blue/indigo and darken colors around ~yellow with a 360-degree-(hue)-wide sine wave.

If it is no

[2021-08-12 19:10] jwmza commented on #158
Unfortunately, there is no way to do this without picking overall quite bad colors.

It will always be much nicer to have brighter, less saturated colors on a dark bg (so bright and so desaturated that they would look awful on a light bg) and dark, more saturated colors on light bg (so dark and so saturated that they would look awful on a dark bg)

[2021-08-12 19:13] jwmza commented on #158
For now a decent middleground might be
[code]

[2021-08-12 19:14] brandonbloom commented on #158
OK, going to assign to @BenElgar to figure out how we determine light/dark terminal background in a reasonably cross-platform way.

After that, if necessary, can reassign to @jwmza to figure out color pallets that work. If the light/dark background detection is unreliable, then we fallback to an ugly pallet.

[2021-08-12 21:08] brandonbloom commented on #74
I think we can consider this fixed now, but it's going to be a little while still before our next release. Thanks for your patience.

[2021-08-12 21:08] #74 closed

[2021-08-12 21:08] brandonbloom commented on #65
The UI has been considerably overhauled (and continues to be). Leaving this open to track updating the website along with the next release.

[2021-08-12 21:35] brandonbloom commented on #166
OK, fixed this. @jwmza do you have a list of small UX enhancements somewhere? If so, 1) point me to it and 2) add the hover/UTC thing to it. If not, can we create one? :)

[2021-08-12 21:37] brandonbloom commented on #166
Oh, hm, looks like i fixed this for `exo logs` in CLI, but not yet for the GUI.

[2021-08-12 21:51] #166 closed

[2021-08-12 22:01] jwmza commented on #166
No I don't have a list - I'll make one tomorrow.

[2021-08-12 22:50] brandonbloom commented on #145
So I was about to take this off your plate & went looking to see what font we're using. Looks like Fira Code, but that's one of those weird fonts with fancy ligatures. I think folks have pretty strong preferences both in favor and against these ligatures. I don't think we should use Fira Code by default because of this.

@jwmza Can you pick a different font please? My advice would be to select one

[2021-08-12 23:03] jwmza commented on #65
Yeah, the new GUI is much different than both the README/Web mockup and the old GUI. Will sync up the public snapshots once the new release is locked in.

[2021-08-12 23:06] jwmza commented on #145
@brandonbloom there's a CSS toggle for ligatures on/off - Fira Code is a really good code font, license here: https://github.com/tonsky/FiraCode/blob/master/LICENSE

I think we should use Fira Code and default ligatures off with an optional switch potentially added later. Is there a reason other than ligatures you'd be against it?

[2021-08-12 23:56] brandonbloom commented on #145
My main issue was the ligatures. I wasn't aware of the toggle. Thanks for pointing that out.

We can use this font, but according to the license we must provide notice:

[code]

We'd have to put a license in to a `NOTICE.md` file in the root of the repository, as well as provide some way to access it in the GUI as well. For example, see `chrome://terms/`or `about:license` in Firefox.

[2021-08-13 00:44] brandonbloom opened #171 "[FEATURE] Component dependencies"
compose files supports a `depends_on` option, documented here: https://docs.docker.com/compose/compose-file/compose-file-v3/#depends_on and here: https://github.com/compose-spec/compose-spec/blob/master/spec.md#depends_on

As of https://github.com/deref/exo/commit/8c40b5612d7338dc59db4b7caf39dc03f27c885e we load compose files and ignore this configuration. Ignoring this configuration is reasonable

[2021-08-13 00:53] brandonbloom opened #172 "[BUG] Choke on badly named docker compose services"
**Describe the bug**

Service named with an underscore fails as invalid component name.

This is the same problem as https://github.com/deref/exo/issues/72

**Expected behavior**

We should apply the same solution as we did for procfiles. See this PR and the highlighted line in particular:

https://github.com/deref/exo/pull/73/files#diff-d25b12dec6f33085b7526cc93449e046c919e5705e416eb816d79292961f

[2021-08-13 00:54] brandonbloom commented on #172
Assigning to @BenElgar to resolve as part of his work to support more docker compose examples.

[2021-08-13 20:58] brandonbloom opened #178 "[FEATURE] set docker labels"
**Is your feature request related to a problem? Please describe.**

When something goes wrong between docker & exo, it may be difficult to figure out what docker resources need cleanup.

**Describe the solution you'd like**

labels/tags/annotations are the standard tool in cloud-computing world for this, and docker is no different. Docker compose sets a `com.docker.compose.project` on every resour

[2021-08-13 21:19] brandonbloom opened #179 "[FEATURE] CLI color mode config"
**Is your feature request related to a problem? Please describe.**

ANSCI color codes are not supported in some situations (like various CI tools). If exo is to be used in these contexts, we need to make sure out output is plain-text friendly.

Docker Compose has an `--ansi MODE` flag, and many other tools, such as Git, have similar config values:

[code]

**Describe the solution you'd like**

Rig

[2021-08-13 21:23] brandonbloom opened #180 "[BUG] if docker is not installed, we don't handle that gracefully"
Docker client operations fail with connection refused or similar. We should detect the docker agent not running, and present useful UX.

docker-compose actually checks if Docker is installed, and if not, points users to various install links. We don't need to go that far, but if there is an issue, we may want to provide some trouble shooting steps, up-to-and-including linking to the [Get Docker](h

[2021-08-13 22:09] brandonbloom opened #181 "[FEATURE] Spec Templating"
It's natural for some components to have customization points or other forms of dynamic configuration. A typical solution is to support environment variables (see #78) and/or some form of templating.

Components have props, which are (disjointly?) partitioned in to spec and state. Spec properties are expression-like and state properties are promise-like. That is, spec may be defined in terms of ot

[2021-08-13 22:26] jwmza commented on #151
Fixed #161

[2021-08-13 22:26] #151 closed

[2021-08-13 22:29] jwmza commented on #145
Sounds good, I'll get these bundled.

Presumably we are all good with "Inter" as the sans serif font of choice @brandonbloom ?
https://rsms.me/inter/ https://github.com/rsms/inter/blob/master/LICENSE.txt

[2021-08-13 22:43] brandonbloom commented on #145
That's fine too. It also requires a NOTICE entry.

[2021-08-13 22:47] brandonbloom opened #182 "[FEATURE] component spec validation UI"
**Is your feature request related to a problem? Please describe.**

Typos or other errors in specs are not caught until `start` or similar lifecycle events. It would be nice to catch some errors earlier, during editing.

For compose files, see https://github.com/docker/compose/blob/master/compose/config/validation.py

**Describe the solution you'd like**

We need some sort of "diagnostics" or "mes

[2021-08-13 23:04] brandonbloom opened #183 "[FEATURE] stacks, profiles, deployments, and providers"
This is a placeholder/tracking issue for a variety of interrelated future-looking features in and around the topics of deployments & production, as well as remote development containers.

## Prior Art

### Docker and Docker Compose

- https://docs.docker.com/engine/context/working-with-contexts/
- https://docs.docker.com/compose/profiles/

### Pulumi

- First-class providers: https://www.pulumi.co

[2021-08-13 23:06] brandonbloom opened #184 "[FEATURE] various docker container interactions"
- attach
- exec
- what else?

[2021-08-15 15:37] #145 closed

[2021-08-16 02:41] brandonbloom opened #186 "[FEATURE] "pause" operation for containers"
Docker supports this, and therefore so does Docker Compose, but it's not clear how useful this is.

If you've got use cases for it, feel free to leave them in the comments on this issue.

[2021-08-16 02:46] brandonbloom opened #187 "[FEATURE] `top` in TUI and GUI"
Would be good to have a basic "activity monitor" or "task manager". We're starting to collect those metrics, but have to expose them in a reliable way. We should consider dashboards and metrics holistically.

[2021-08-16 02:50] brandonbloom opened #188 "[FEATURE] `kill` operation"
We have `stop`, but it has a default timeout. We could add a customizable timeout, but it's sometimes useful to instant-kill a process to see how the system behaves, or if you know it is wedged.

Additionally, it may be useful to send arbitrary unix signals to processes.

See docker-compose's support here:

[code]

[2021-08-16 03:06] brandonbloom opened #189 "[FEATURE] compose file: `extends`"
`extends` is a major source of complexity for compose files, since it introduces two new challenges for config file handling: 1) importing configuration from additional files and 2) semantically-aware merging of service definitions.

This feature seems reasonably widely used:
https://sourcegraph.com/search?q=context:global+extends+%28file:docker-compose.yml+or+file:docker-compose.yaml+or+file:comp

[2021-08-16 03:12] brandonbloom opened #190 "[FEATURE] Health Checks"
Spec out metrics, service health checks, etc.

See also https://github.com/deref/exo/issues/187

[2021-08-16 11:06] BenElgar commented on #180
I actually thought the handling was pretty graceful:
[code]

What would you prefer?

[2021-08-16 14:23] BenElgar commented on #77
I'm not sure I see the point of not always passing everything to `bash` or `sh`. I can't see any particular security concern given the assumption that any user who has the ability to write to the procfile also has the power to perform arbitrary execution.

[2021-08-16 14:28] BenElgar commented on #186
I don't know of any use cases. I've heard of people using the `docker checkpoint` functionality, which is like the `pause` operation but portable and multi-resumable — but that's experimental and not in docker compose.

[2021-08-16 15:50] brandonbloom commented on #180
I didn't actually test this to see how we behaved, I was just analyzing the code in docker-compose and they have lots of handling for this situation. Ugly jobs error reporting aside (which is a separate issue we should fix), I think you're right that this error message is fine.

[2021-08-16 15:50] #180 closed

[2021-08-16 15:53] #148 closed

[2021-08-16 16:16] brandonbloom opened #195 "[BUG] not limiting parallelism in some key cases"
Main issue is probably downloading docker filesystem layers. Need to limit parallelism there, to avoid thrashing between simultaneous downloads.

See also `COMPOSE_PARALLEL_LIMIT` in docker-compose.

[2021-08-16 22:05] brandonbloom commented on #77
I'm _mostly_ not worried about security. However, I am concerned about the impact on the component architecture and UX. I _think_ it's OK if we encode the arguments properly to handle escaping/quoting, and then run a process of like `/bin/bash` or whatever with the appropriate args, but I don't think the underlying unix process primitive should be "run a bash script". The reason for this is that w

[2021-08-17 04:19] kendru opened #201 "[BUG] Logs in GUI are completely broken"
The GUI will sometimes render one page of logs, but it does not fetch any more. Sometimes no logs are displayed.

[2021-08-17 13:57] BenElgar opened #203 "[BUG] Exo logging slow with lots of services"
**Describe the bug**
The following docker compose file takes a long time to start outputting logs in the terminal.
[code]

It takes about 30 seconds to start getting logs. From `docker ps` and from the output in the logs I can see that the containers themselves have been running for almost all of that time. The logs are then updated about once every 20 seconds.

[2021-08-17 18:31] brandonbloom commented on #203
@kendru is this resolved by #200 ?

[2021-08-17 19:01] #158 closed

[2021-08-17 19:57] #127 closed

[2021-08-17 19:57] #162 closed

[2021-08-17 19:57] #201 closed

[2021-08-17 20:43] brandonbloom opened #205 "[BUG] Race condition in `DescribeProcesses`"
**Describe the bug**

The describe process internals calls out to `ps` and other system utilities, so there is a race where the process may have died in between checking if it is running and then calling MemoryInfo, Connections, etc on that process.

**To Reproduce**

1. go build ./cmd/tick
2. cd `./examples/voluminous-logs`
3. `exo run`
4. Open the GUI
5. in another terminal, `exo stop`
6. watch

[2021-08-17 20:43] brandonbloom commented on #205
@BenElgar Did you write this code? Would you mind taking a look at what we can do about this?

[2021-08-17 20:48] brandonbloom opened #206 "[BUG] `exo ls` and `exo ps` output not sorted"
[code]

[2021-08-17 20:53] brandonbloom commented on #206
There are other things that are not sorted, like job reporting and the like. Maybe if the output of `describe-components` is sorted, that would help.

[2021-08-17 20:56] brandonbloom commented on #205
Ideally, all of the logic that is in this `DescribeProcesses` stuff should move in to the `refresh` method in processes, so that we can have one uniform handling for how frequently we refresh to read state from external resources.

[2021-08-17 21:00] kendru opened #207 "[BUG] Supervisor becomes zombie when child process stopped externally"
**Describe the bug**
When a process that is being supervised is stopped by some source other than the supervisor stopping it, the supervisor becomes a zombie process.

**To Reproduce**
1. Run some project in exo
2. Find the pid of one of the processes that exo is supervising
3. Send `SIGTERM` to that process.

The result is that the process is shown as stopped, but it is not able to be started aga

[2021-08-17 21:00] brandonbloom opened #208 "[BUG] process list UX still confusing"
![image](https://user-images.githubusercontent.com/119164/129799930-b97a796b-0dcb-47ab-89b6-dfab2ada2b34.png)

[2021-08-17 21:08] kendru opened #209 "[FEATURE] Release channel"
Add a release channel to test exo upgrades without performing a public release.

[2021-08-17 21:15] brandonbloom commented on #65
OK @jwmza, latest release just went out! Could you please update the website and readme with an up-to-date screenshot now? Thanks :)

[2021-08-17 21:41] brandonbloom commented on #54
@BenElgar you self-assigned this, but have you taken it on yet? if not, please reassign to @kendru, since it is in the same general area as #209

[2021-08-17 21:42] brandonbloom commented on #39
I'm going to close this, since it's not causing us any problems to have extra timing resolution that is always truncated/zeros.

[2021-08-17 21:42] #39 closed

[2021-08-17 22:51] jwmza commented on #65
Done @brandonbloom

[2021-08-17 22:51] jwmza commented on #65
Will follow up with bringing back light/dark variants on the website and using an optimized SVG mockup with 99-100% accuracy once that is ready for release, which should be soon considering the CSS variable groundwork is ready to go.

[2021-08-17 22:52] #65 closed

[2021-08-17 22:53] brandonbloom opened #212 "[BUG] `exo run` and `exo logs` do not behave gracefully on `exo upgrade`"
**Describe the bug**

If you click the upgrade button in the GUI or do `exo upgrade` while you have an `exo run` or `exo logs` going, you get something like this:

[code]

**Expected behavior**

Ideally, these services would be listening to events instead of polling and they would receive and handle them by launching updated versions of themselves and then exiting.

[2021-08-18 10:22] BenElgar opened #215 "[BUG] Conflicts with docker-compose when using same container name"
**Describe the bug**
When using the `container_name` field in a docker compose file exo will conflict with docker compose. If docker compose was run first you get an error like the following:

[code]

If `exo` was run first you get the following error:
[code]

This is fixed with `docker container prune` or by removing the named containers.

I can see an argument that this isn't a bug but the corre

[2021-08-18 11:07] BenElgar opened #217 "[BUG] Docker commands parsed badly"
**Describe the bug**
If you try and run an docker-compose file like this:

[code]

A component state like this will be written to the exo `state.json`:
[code]

This then will fail to unmarshal:
[code]

This is particularly bad because the state file is now corrupted and the error will continue to happen even if the command is changed to no longer include the offending characters.

[code]

[2021-08-18 11:20] BenElgar opened #218 "[BUG] Directory syntax for volumes doesn't work"
**Describe the bug**
With config like the following:
[code]
No volume is mounted into the container. This is evident from the output of the command and from `docker inspect`ing the container.

This issue is that we evidently don't support the directory syntax which allows you to mount a given directory rather than a named volume.

[2021-08-18 11:34] BenElgar opened #219 "[FEATURE] Support extended volumes syntax"
A docker compose file like the following doesn't work because we don't support the extended volumes syntax:
[code]

You get an error of the following form:
[code]

[2021-08-18 11:56] BenElgar opened #220 "[BUG] docker-compose networking doesn't work"
**Describe the bug**
docker compose makes services accessible to each other via a hostname equal to the name of the service. This doesn't work with `exo run`.

[code]
`docker-compose up` correctly prints `hello world` whilst `exo run` fails to resolve the host:
[code]

[2021-08-18 12:43] BenElgar opened #223 "[BUG] docker-compose and exo run build different images"
For non-trivial builds (e.g. awesome-compose/sparkjava) `exo run` and `docker-compose up` build different images. This would appear to be because we provide a different build context to docker. We don't take the `.dockerignore` file into account which would certainly explain it but that isn't sufficient explanation since it appears to happen for images where there is no dockerignore file.

[2021-08-18 14:17] BenElgar commented on #205
Ah yes, I pushed a simple fix earlier.

[2021-08-18 14:24] BenElgar commented on #203
It doesn't appear to be.

[2021-08-18 15:07] brandonbloom commented on #215
I think the right thing to do here is name prefixing. That's what compose does: it prefixes the project name. However, we currently don't have a concept of a project, workspace, or stack name. Maybe we just use the workspace id for now?

[2021-08-18 15:09] brandonbloom commented on #223
Is there a separate issue for "implement .dockerignore"? Can use this ticket for that, but then follow-up to figure out the other differences.

[2021-08-18 15:12] brandonbloom commented on #203
We've also got a simpler test case now in `./examples/voluminous-logs`, which definitely exhibits this problem & has adjustable intervals to exacerbate it.

[2021-08-18 15:36] BenElgar commented on #215
Eh, that would seem to break the whole purpose of this field which is to be a predictable static identifier. If I set `container_name: ben-container`, I expect to be able to do `docker inspect ben-container`.

[2021-08-18 15:39] #172 closed

[2021-08-18 15:57] BenElgar opened #224 "[BUG] dockerignore not respected"
**Describe the bug**
We don't currently take `.dockerignore` files into account when creating the build context.

[2021-08-18 15:57] BenElgar commented on #223
I created one here: https://github.com/deref/exo/issues/224

[2021-08-18 15:58] kendru commented on #207
I was trying to reproduce this yesterday afternoon, and I could not. I'll keep it open for now, but I am unassigning myself and noting that we do not have reliable repro steps.

[2021-08-18 19:09] brandonbloom commented on #205
So I think that you can more generally detect `errdefs.Conflict` for that specific "restarting" problem:

- https://github.com/deref/exo/pull/221/files#diff-4e94592898bb77a7e2145c8520529955d484ea3015c3e2159b52d4b22e2d9584R74
- https://github.com/moby/moby/blob/ba2adeebdb8d4ec442f1d3107405ae55d0c1a0c2/errdefs/defs.go#L13-L17

However, this is a more general problem. The issue I ran in to above affe

[2021-08-18 21:22] brandonbloom opened #226 "[FEATURE] support resource limits"
These file formats are still relatively popular in the wild. Additionally, some user feedback had this to say:

[2021-08-18 21:25] brandonbloom opened #227 "[BUG] incomplete yaml support: anchors, aliases, and merge keys"
See the YAML spec https://yaml.org/spec/1.2/spec.html

This blog post shows an example of using these features for compose files:
https://medium.com/@kinghuang/docker-compose-anchors-aliases-extensions-a1e4105d70bd

[2021-08-18 21:26] brandonbloom opened #228 "[BUG] low quality compose file parsing errors"
[code]

[2021-08-19 09:32] peyloride opened #231 "[FEATURE] Ability to rename workspaces"
**Is your feature request related to a problem? Please describe.**
In the GUI it's not clear to which workspace is what. For example in my project there are 3 backend micro service talking to each other and I want to see which is what but I can't.
![image](https://user-images.githubusercontent.com/10589068/130045303-f00977a9-df71-4bee-8ded-b191a6b994f9.png)

**Describe the solution you'd like**
Th

[2021-08-19 13:23] jwmza commented on #231
@peyloride thanks for the request, I agree we should have renamable workspaces.

In the meantime I'm going to refactor the workspace list layout to prioritize the project directory, so that you can see the end and not just the start of those.

[2021-08-19 13:28] BenElgar commented on #218
Done

[2021-08-19 13:28] #218 closed

[2021-08-19 13:43] jwmza opened #232 "[BUG] Improper rendering of control codes in GUI"
**Describe the bug**
I tried to add the `cal` program as a process and it seems like the special formatting for the highlighted text at the current date is not rendering properly, despite that we've recently added color/highlight/formatting in the GUI logs. @brandonbloom

**To Reproduce**
Steps to reproduce the behavior:
1. Add `cd / && cal` as a process
2. Run the process
4. See error in **Logs**

[2021-08-19 13:52] jwmza opened #233 "[BUG] Multiline instant processes don't render all logs on run"
**Describe the bug**
When running `cal`, which is supposed to immediately show a multi-line human readable text output of the current calendar month and weekday, the GUI seems to randomly show anywhere from 1 to 8 lines in the logs instead of the exact amount the command would regularly show in a terminal. Sometimes it only prints one or two lines, sometimes many. Can't sense any pattern to why th

[2021-08-19 14:30] BenElgar opened #235 "[BUG] Scroll bar on hover in sidebar"
https://user-images.githubusercontent.com/3443024/130086614-c88b7166-ff02-4964-b8a1-33bed0730d22.mp4

This happens in both Chrome and Firefox but in Firefox it's much more obvious because the scrollbar takes up width and offsets everything in the sidebar.

[2021-08-19 14:53] #178 closed

[2021-08-19 14:54] brandonbloom commented on #231
Thanks @peyloride, looks like @jwmza has a pretty good fix for the problem of being unable to tell workspaces apart over in #234. That will go out in our next release sometime next week.

In the meantime, you can use `exo workspace ls` in your terminal to see the full names clearly.

Going forward, we'll probably introduce a notion of "project", for which there may be many workspaces. I suspect th

[2021-08-19 15:29] peyloride commented on #231
Thanks everyone, these are awesome news.

[2021-08-19 15:57] jwmza commented on #235
Just gonna remove the scrollbar within the sidebar completely for now :)

[2021-08-19 16:10] BenElgar commented on #215
Spoke to @kendru and we're thinking that it makes sense to adopt the same named resource.

[2021-08-19 22:03] kendru opened #237 "[BUG] Containers do not start when applying a docker-compose project"
**Describe the bug**
When a `docker-compose.yml` file is imported, exo creates containers for each of the services as well as (at least one) network to attach the containers to.  If the containers end up getting created before the network is available, they will not start automatically. Similarly, when destroying a project, we try to destroy all components in parallel, and destroying the network f

[2021-08-19 22:34] brandonbloom commented on #237
See also #171

[2021-08-20 14:29] #220 closed

[2021-08-20 16:21] BenElgar commented on #226
Changed this to "support resource limits" since I don't know of anything else in the compose v2 spec that people care about.

[2021-08-21 01:14] jwmza commented on #235
Fixed in #241

[2021-08-23 16:47] #78 closed

[2021-08-23 16:48] #226 closed

[2021-08-23 16:49] #224 closed

[2021-08-23 21:45] kendru commented on #219
I am picking this one up because it is directly in the path of what I am doing for #215

[2021-08-24 17:18] jwmza commented on #231
In light of @brandonbloom 's notice above re: #183 and the fix for readability in #234, I'll close this issue now.

However it is probably a good idea to soon use the shortest unique workspace directory label instead of the entire directory from root in most UI elements where the directory is displayed, in order to reduce visual noise.

[2021-08-24 17:18] #231 closed

[2021-08-24 19:48] brandonbloom commented on #217
The fix in #239 is incomplete. The compose reference says the correct behavior is defined as per the CMD directive, defined in the Dockerfile spec. Here:
https://docs.docker.com/engine/reference/builder/#cmd

Looks like the right thing to do is to accept either a individual string or an array of strings. If an individual string, invoke the [SHELL](https://docs.docker.com/engine/reference/builder/#

[2021-08-24 21:24] brandonbloom opened #248 "[FEATURE] component delete protection"
it's too easy to accidentally delete a volume, so we should add some sort of "protected" resources that makes accidental deletion harder.

[2021-08-24 21:43] brandonbloom opened #249 "[BUG] docker compose volume & network with same name conflict on import"
see title - it's b/c compose namespaces by type, and we namespace within a workspace

[2021-08-25 18:56] jwmza opened #251 "Clean up `NavbarButton` click handlers"
Maybe `NavbarButton` should have a `href` property, which would clean up all these `on:click` handlers.

_Originally posted by @brandonbloom in https://github.com/deref/exo/pull/241#discussion_r695928130_

[2021-08-25 19:11] jrysana opened #252 "Consider refactoring theme logic to use a reactive effective theme value"
seems like `guiTheme` is actually doing double duty: one for the selection and one for the effective theme (ie having resolved auto to light, or dark, or black) - can actually hoist that up in to a reactive value at the store level. I might call them something like `selectedTheme` and `effectiveTheme` and then shorten the more commonly/widely used one (effectiveTheme) to just `theme`.

_Originally

[2021-08-27 10:21] BenElgar opened #254 "[FEATURE] Support buildkit builds"
Docker has a newer image building mechanism called Buildkit that is faster and supports additional functionality, e.g. ignore files of the format `<dockerfile-name>.dockerignore`. We should consider supporting this as well.

[2021-08-27 18:59] BenElgar opened #259 "[BUG] Cannot connect docker container to multiple networks"
Docker compose file:
[code]

This seems to cause issues of the following form:
[code]

[2021-08-27 22:44] #259 closed, assigned to kendru

[2021-08-28 15:50] brandonbloom opened #261 "[BUG] unknown issue on first run of `exo gui`"
From a beta user:

First time I run exo gui I got:

[code]

second time it worked.

[2021-08-28 15:56] brandonbloom commented on #208
From a user in dark mode:

[2021-08-28 16:09] brandonbloom opened #262 "[BUG] race condition on uninstall"
**Describe the bug**

Uninstall fails to remove the var directory because the state file may be updated asynchronously by a background task during uninstall. Leaving behind a .lock file, which prevents the var directory from being removed.

**To Reproduce**

[code]

**Expected behavior**

All async tasks should be stopped before uninstall proceeds, so this should be impossible.

[2021-08-28 16:15] #261 closed

[2021-08-29 16:02] brandonbloom opened #265 "[BUG] Docker compose interpolation not supported"
See https://github.com/compose-spec/compose-spec/blob/master/spec.md#interpolation

See also: #181

[2021-08-29 16:04] brandonbloom commented on #265
Initial work landed in #264, but other work from #191 didn't make it yet because it was the wrong approach.

[2021-08-29 16:07] brandonbloom commented on #265
Two folks attempting to use the compose support hit this immediately, so I think it is pretty important before we do a larger announcement.

[2021-08-31 11:19] #203 closed

[2021-09-01 00:59] jwmza opened #269 "[BUG] Monaco editor text selection squishes whitespace"
**Describe the bug**
Monaco editor text selection squishes whitespace in a very unexpected and annoying way. For some reason this feels _infuriating_, and I haven't yet been able to figure out why it happens. It causes the text to "jump" around when you select it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a page with a Monaco editor, e.g. "New Process"
2. Type a script that has i

[2021-09-01 01:45] brandonbloom commented on #269
Do we know if maybe one of our global or inherited stylesheet rules is causing the issue?

[2021-09-01 11:54] BenElgar opened #270 "[BUG] Cannot recover from bad spec"
**This is only an issue on the interpolation branch.**

If a user applies a docker compose spec that is invalid in such a way that it cannot be unmarshalled this cannot be recovered from. This is because the spec is saved in the state file before it is validated and every future attempt to manipulate the spec attempts to unmarshal this bad spec, which fails.

To recreate, apply a spec like this:
[

[2021-09-01 13:15] BenElgar commented on #205
This should have been fixed by https://github.com/deref/exo/pull/256.

[2021-09-01 13:15] #205 closed

[2021-09-01 13:59] BenElgar commented on #249
What would we consider a good solution to this? Should we just adopt any volume that happens to have the appropriate name?

[2021-09-01 14:17] BenElgar commented on #233
I can confirm I can reproduce this. It appears to be solved by doing `cal && sleep 1` which I assume means that the issue is that the log collector is stopping too soon.

[2021-09-01 14:39] jwmza commented on #269
No clue, but somehow I can no longer reproduce this - it seems fixed, but I didn't change anything.

[2021-09-01 14:41] brandonbloom commented on #269
OK, then let's close this until it comes up again.

[2021-09-01 14:41] jwmza commented on #269
Even when I was able to produce this bug, I was unable to identify any reason for the issue beyond the final visual result, despite digging through the DOM and stylesheets.

[2021-09-01 14:43] jwmza commented on #233
Would it be reasonable to pad the log collector's lifetime by a second or so in order to fix this for all similar cases @BenElgar ?

I'm assuming the issue here is a race condition where the emission of many "instant" logs and the stopping of the log collector are all scheduled for the same moment in time.

[2021-09-01 14:48] brandonbloom opened #271 "[FEATURE] state repair CLI commands"
**Is your feature request related to a problem? Please describe.**

Sometimes, things go wrong with component state. See #270 for example. While we should clearly fix that bug, I've still had to do state surgery in every IaC tool I've ever used. We should have some basic tools to assist with this.

**Describe the solution you'd like**

I'm thinking a family of new `state` commands:

[code]

I'd pr

[2021-09-01 14:57] brandonbloom commented on #270
Yikes. Good catch.

Somewhat related, I've opened #271

Subtle correction: I think it is failing on _all_ attempts to invoke controller methods, not just future/subsequent attempts after the first one.

This might be part of the solution, but I don't think it is a complete solution. In theory, even if the spec is value now, it can become invalid later. For example, if the environment variables cha

[2021-09-01 15:02] brandonbloom opened #272 "[FEATURE] environment variables CLI/GUI"
**Is your feature request related to a problem? Please describe.**

I want to see what the effective environment variables are in my workspace. In the future, I'd like to also be able to add/remove/edit variables too.

**Describe the solution you'd like**

Command to print the current workspace environment as a .env file:

[code]

And a "Variables" page somewhere in the GUI showing the same inform

[2021-09-01 15:04] BenElgar commented on #233
I believe I've fixed this in the linked PR.

[2021-09-01 15:07] brandonbloom commented on #249
This bug is unrelated to component adoption. It's more similar to having invalid characters in the name. We should detect conflicts on import and add a suffix or something to the component name (but not the container/volume/network name in docker) to disambiguate them.

[2021-09-01 15:08] brandonbloom commented on #249
And if we do this, we should emit a warning :)

[2021-09-01 15:13] BenElgar commented on #272
Just to be clear, is this just the values in the `.env` file merged with your shell environment?

[2021-09-01 15:15] #233 closed

[2021-09-01 15:18] BenElgar commented on #232
Can reproduce with a Procfile that looks like this:
[code]

This results in this incorrect output in the GUI:
![image](https://user-images.githubusercontent.com/3443024/131697747-4272388b-d409-47bc-aa8e-772218868bdf.png)

and this (correct) output in the terminal:
![image](https://user-images.githubusercontent.com/3443024/131697940-f4e1b77f-63bd-4d91-9626-34e0cd5b232a.png)

[2021-09-01 15:22] brandonbloom commented on #272
It's whatever the "WorkspaceEnvironment" gets set to that components can use. Right now, yeah, I think that is just the launched env plus the .env file.

[2021-09-01 15:30] jwmza commented on #269
Okay, it is not fixed. Just happened again.

Notably this has only been seen in the dev version so far.
When I started up the dev version, it was working fine, at some point after making modifications to the page component the text editor was a child of, the bug came back. The bug persisted across all Monaco editors until I closed that browser window and opened a new one, after which it was fixed

[2021-09-01 15:35] jwmza commented on #269
Same thing just happened, this time all I had changed was some inline CSS in the svelte `<style>` block of the parent component.

My current theory is that this bug is at some point triggered by the hot reloading of the app during development.

[2021-09-01 15:47] BenElgar commented on #272
:+1:

[2021-09-01 15:53] BenElgar commented on #249
Oh sorry, I understand. This is about volumes and networks with the same name _as each other_. I thought it was about conflicting with docker compose.

[2021-09-01 16:08] #232 closed

[2021-09-01 16:20] kendru opened #275 "[BUG] When applying a docker-compose file, the workspace can get in a bad state"
**Describe the bug**
When running `exo apply` in a workspace with a Docker Compose file, the components will not be recreated in the correct order, so we can end up with components referencing Docker resources that no longer exist, unmet dependencies, and orphaned Docker resources. There are several different manifestations of bugs that are all related to this behavior.

**To Reproduce**
1. Enter

[2021-09-01 17:47] kendru commented on #228
@BenElgar is this solved with your work on #217?

[2021-09-01 17:51] BenElgar commented on #228
Yes, hopefully. I'll assign to myself and close when fixed.

[2021-09-01 18:18] #227 closed

[2021-09-01 22:03] catleeball opened #279 "[BUG] exo fails parsing "security_opt" from docker compose file"
**Describe the bug**

When running `exo apply` or `exo run` on a `docker-compose.yml` file containing the `security_opt` option.

Here's the compose file I used: https://gist.github.com/catleeball/b18c07c17c674d26f7e443cbf01b2089

And here's the error exo printed: https://gist.github.com/catleeball/8a72f066c0ea415e6ebd4529aa8843fd

**To Reproduce**
Steps to reproduce the behavior:
1. Make compose

[2021-09-01 23:08] kendru commented on #279
@catleeball Thank you so much for this bug report! We are working hard to make sure that we get as close as possible to supporting all of the features that docker-compose supports, but `security_opt` is one that we have not implemented yet. I'll make sure that we get support added as quickly as possible! I really appreciate you linking to the full Docker Compose file so that we can make sure that

[2021-09-01 23:41] catleeball commented on #279
Thanks for the update, and for making this cool bit of software! :)

[2021-09-02 11:12] #228 closed

[2021-09-02 11:25] BenElgar commented on #206
They seem sorted to me, alphanumerically by name. They also appear to be consistent between `exo ls` and `exo ps`. In what other order would we like them sorted?

[2021-09-02 16:05] brandonbloom commented on #206
heh, my bad, clear brain fart when i expected that to be one, two, three, etc - sorted by the order in the procfile or something. obviously nonsensical. apologies for the noise

[2021-09-02 16:05] #206 closed

[2021-09-02 18:54] #271 closed

[2021-09-02 18:56] #275 closed

[2021-09-02 23:11] brandonbloom commented on #111
ok, going to call this implemented & open a new issue for any follow-up work

[2021-09-02 23:11] #111 closed

[2021-09-02 23:14] brandonbloom opened #285 "[FEATURE] enhanced shell completions"
As of #213, we have support for _static_ shell completions. There are a few enhancements to make:

1) more robust install support for linux and windows
2) _automatic_ installation as part of our install script
3) _dynamic_ completions, for example, completing component names on commands like `exo start ...`

This is all relatively low priority, but (3) in particular is probably a good "help wanted

[2021-09-02 23:24] brandonbloom commented on #249
Added "good first issue" because this should be entirely contained within [compose/convert.go](https://github.com/deref/exo/blob/bcc679256fd19d952832e7d210856694795b5cd3/internal/manifest/compose/convert.go) and similar to `res.AddRenameWarning(originalName, name)`

[2021-09-02 23:27] brandonbloom commented on #270
Is that actually true? or does that branch only make it worse?

I'd really like to land #266, but this seems like the blocker to fix first.

[2021-09-03 03:02] catleeball opened #286 "[BUG] exo fails to parse unquoted integers from docker compose files"
**Describe the bug**

When running `exo run` or `exo apply` on a docker-compose.yml file containing environment variables whose values aren't explicitly quoted strings, it throws an error:

[code]

Here are two compose files where this issue was encountered:

- https://gist.github.com/catleeball/5ff10090b22b32b22e0d3d7ed3674d2d
- https://github.com/restic/rest-server/blob/master/examples/compose-w

[2021-09-03 03:06] catleeball opened #287 "[BUG] exo fails to parse `env_file`s from docker compose files"
**Describe the bug**

When running `exo run` or `exo apply` on a docker-compose.yml file containing environment variables whose values aren't explicitly quoted strings, it throws an error:

[code]

The compose file where this issue was encountered is here:

- https://gist.github.com/catleeball/4ca5aa8ab828d992d2cb75738caf9c9a

This is from the same docker-compose.yml file as #286 except after addi

[2021-09-03 10:53] BenElgar commented on #270
Yes, I believe so. On master the given example fails at `loadManifest` but on the interpolation branch `loadManifest` succeeds and, as a result, the bad spec is written to the state file, rendering it broken.

https://github.com/deref/exo/blob/98527c58795bfe2cb96515d190715982b804564d/internal/core/server/workspace.go#L105

[2021-09-03 14:15] BenElgar commented on #286
Thank you very much for the reports! There are open PRs for each of them now, which we'll try and merge soon. :)

[2021-09-03 16:02] #286 closed

[2021-09-03 17:12] brandonbloom opened #290 "[BUG] apply unnecessarily re-creates resources"
Applying a procfile:

[code]

But the command and the env didn't change!

We need to be able to handle fully-resolved manifests and compare them against each other to see if any change has happened. If not, then we should avoid recreating.

There is also some complexity here with component dependencies.

[2021-09-03 17:16] brandonbloom opened #291 "[BUG] `exo run`'s stop-on-error behavior means you can't see full crash output"
**Describe the bug**

If you do `exo run` and one of your processes crashes, then the run exits. However, we don't wait for all the log messages from the process to be streamed out! This means that you won't necessarily know _why_ something exited.

**To Reproduce**

Add a program like this to your procfile:

[code]

**Expected behavior**

We shouldn't exit immediately, we should instead somehow w

[2021-09-03 20:57] brandonbloom commented on #223
@BenElgar how far off are we on this one now?

[2021-09-03 21:05] brandonbloom commented on #188
I'm going to implement this quickly because I'm messing with some example that uses SIGHUP and it would be convenient to have this.

[2021-09-03 23:22] brandonbloom opened #292 "[BUG] newly added processes do not appear in terminal logs"
**Describe the bug**

It used to be that if you ran `exo logs` it would use `nil` when fetching events, meaning that it would get all logs from all proceses. But now we do a describe-processes up front, and so any newly added processes will not produce log output unless you restart the logs listener.

**To Reproduce**

- `exo logs` in an empty workspace
- `exo new process ...` with something that

[2021-09-03 23:24] brandonbloom commented on #292
Might be worth revisiting this after overhauling the event architecture.

[2021-09-03 23:47] brandonbloom commented on #207
Since this is not reproducible, I'm going to close it & if this ever happens again, hopefully we can get more details.

[2021-09-03 23:47] #207 closed

[2021-09-03 23:47] brandonbloom commented on #188
implemented by #239

[2021-09-03 23:47] #188 closed

[2021-09-04 00:31] brandonbloom commented on #149
This is also causing some test flakiness, so I'll fix it.

[2021-09-04 00:42] #149 closed

[2021-09-04 00:49] brandonbloom commented on #272
CLI is in #284, but could still use a GUI.

[2021-09-04 01:19] brandonbloom opened #296 "[FEATURE] release notes should include changelog details"
would be nice if our release script copied the most recent changelog entries in to the release notes

[2021-09-04 23:28] #272 closed

[2021-09-06 13:26] BenElgar commented on #223
If I've done it right, this should be fixed in https://github.com/deref/exo/pull/297.

[2021-09-06 13:52] BenElgar opened #298 "[BUG] exo fails if docker resources don't exist"
If, for example, exo has created a docker network that is then removed by something other than exo, exo will fail to recreate it when needed.

Assigning to myself to flesh out the issue better.

[2021-09-06 14:44] BenElgar commented on #223
Ah, no, I've managed to find cases where the images still aren't the same. This would appear to be because the selection of cache-eligible images is different, though right now I'm not clear on why.

Since, with #297, the build context appears to be the same I think that this is substantially less pressing than previously.

[2021-09-06 14:57] #287 closed

[2021-09-06 22:13] mausch opened #299 "Licensing issue"
Hi and thank you for this project!

I'm looking to make a Nix package for Exo. One of the fields in there is the licence... and the "Deref Community License Agreement" is not on the [list of recognised licences](https://github.com/NixOS/nixpkgs/blob/3b6c3bee9174dfe56fd0e586449457467abe7116/lib/licenses.nix).
It's not on https://opensource.org/licenses/alphabetical or https://spdx.org/licenses/ eit

[2021-09-06 22:27] mausch opened #300 "[FEATURE] Support compose network_mode?"
<pre>
exo run --format compose <a href="https://github.com/SolrNet/SolrNet/blob/65d74d66273be7dd993154399798b75d3e856b62/cloud-tests-compose.yml">cloud-tests-compose.yml</a>
</pre>

fails with 'unknown field "network_mode"'

[2021-09-07 02:22] brandonbloom commented on #299
Hi Mausch, Thanks for your interest!

The Deref Community License is based on the Confluent Community License, which is in turn based on the Apache 2 license. You can read a bit of background on this license history here: https://www.confluent.io/confluent-community-license-faq/

The only distinction between this license and Apache 2 is the "excluded purpose" clause, which reads:

Presently, there

[2021-09-07 02:23] brandonbloom commented on #300
This should be fixed by https://github.com/deref/exo/pull/283

We'll probably merge that and cut a release sometime tomorrow.

[2021-09-07 02:32] brandonbloom opened #301 "[FEATURE] package for popular package managers"
# Package Managers

Which package managers? Whatever is supported by https://goreleaser.com/

Priorities:

- [x] Mac homebrew formula in our private tap here: https://github.com/deref/homebrew-tap
- [x] Linux as .deb, .rpm and .apk

Also consider:

- [ ] Snapcraft for Ubuntu software store
- [ ] others?

[2021-09-07 02:34] brandonbloom commented on #299
I've opened #301 to track packaging concerns & am going to move this issue to be a discussion, in case others want to chime in on the licensing topic.

[2021-09-07 02:34] #299 closed

[2021-09-07 10:43] #223 closed

[2021-09-07 15:07] brandonbloom commented on #300
This is now available in the 2021.09.07 release.

[2021-09-07 15:07] #300 closed

[2021-09-07 15:08] brandonbloom commented on #279
This is now available in the 2021.09.07 release.

[2021-09-07 15:08] #279 closed

[2021-09-08 20:08] brandonbloom opened #305 "[FEATURE] auto-apply"
Sometimes, I edit a Procfile or a docker-compose.yaml file, and forget to run `exo apply`. If I'm using `exo run`, the apply is automatic, but we should watch the current manifest and auto-apply, or at least warn when current spec != manifest.

[2021-09-08 20:48] #251 closed

[2021-09-08 23:11] brandonbloom commented on #270
Another thought on this topic: We should probably make it so that destroy operations can operate on state alone without any spec, this way it would be much less likely to wind up in this situation.

[2021-09-08 23:14] brandonbloom opened #308 "[BUG] `exo run` stop-on-exit behavior fights with GUI"
**To Reproduce**

1. use `exo run
2. launch the gui
3. click to stop a process
4. you'll see a flash of an "internal server error"

[2021-09-09 13:26] jwmza opened #310 "[FEATURE] Delete Networks and Volumes from the GUI"
**Describe the solution you'd like**
I'd like to be able to delete Networks and Volumes from their tabs in the same way we can currently delete Processes and Containers from the main logs screen.

**Describe alternatives you've considered**
Alternatively, there could be one screen with a full list of all components with delete and edit options.

[2021-09-09 15:42] brandonbloom commented on #310
The API for this should be the same, so you should be able to implement this no problem.

[2021-09-09 17:14] jwmza opened #313 "Find a way to stop re-writing `on:click={() => router.push(...)}` so much"
We really need a `Button` component that supports `href` to specify this standard on-click behavior.

_Originally posted by @brandonbloom in https://github.com/deref/exo/pull/311#discussion_r705471494_

[2021-09-09 17:14] jwmza opened #314 "Make standard centered form panel component (DRY)"
I'm gonna extract this `center-form` and generic form `Panel` behavior to its own component before merging this as well.

_Edit:_ I'll do this in a separate PR actually

_Originally posted by @jwmza in https://github.com/deref/exo/pull/311#issuecomment-916118825_

[2021-09-09 17:15] jwmza commented on #314
This class + panel config is used in numerous pages now so it should be extracted to a reusable component.

[2021-09-09 17:19] jwmza commented on #208
Is this complete with the new start/stop icons?

![image](https://user-images.githubusercontent.com/51100181/132732637-7795aa67-d138-4b4d-9748-1766393c7095.png)
![image](https://user-images.githubusercontent.com/51100181/132732660-5dc11fc4-9624-4532-b26e-195ab3de5ec9.png)

[2021-09-09 17:21] jwmza commented on #208
Should be noted that this UI will materially change when we remake this list as a cards list.

I also still think the running/not running indicator is not ideal, plus we need some sort of broken/errored icon for components that are incorrectly configured or can't run.

[2021-09-10 16:32] ryfow opened #324 "[FEATURE] Provide a way to create processes without starting them"
**Is your feature request related to a problem? Please describe.**

I have 50ish processes and don't want to start all of them on my laptop right now.

**Describe the solution you'd like**

I'd like a way to define a process without starting it immediately, I don't care strongly about how usage looks.

If I was designing the system, I'd probably completely separate editing the internal manifest fr

[2021-09-10 17:21] brandonbloom commented on #324
Thanks for filing this issue. I think the way we're most likely to address this is by adding a run-mode of some kind to the manifest. We're actively working on our own manifest format now, and so will make sure we think about this & will revisit once the new manifest support is available.

[2021-09-10 17:52] ryfow commented on #324
It's worth looking at how docker-compose uses profiles. They provide a pretty nice way for users to cluster groups of services. https://docs.docker.com/compose/profiles/

[2021-09-12 15:51] mausch commented on #301
Nix package: https://github.com/NixOS/nixpkgs/pull/137542

As discussed in https://github.com/deref/exo/discussions/302 the nix package is marked as "unfree" meaning nix will build it locally from sources (downloading and/or building all necessary tools too) when installing, which takes several minutes.

[2021-09-13 12:22] BenElgar opened #326 "[BUG] Empty log lines not captured"
**Describe the bug**
Logs that consist of nothing other than a new line character are not captured.

**To Reproduce**
Run either the docker compose or Procfile below:
[code]
[code]

Neither will emit any logs and the Procfile will cause the following error in the server:
[code]

**Expected behavior**
Exo should log lots of empty log lines.

**Additional context**
My understanding is that it is a v

[2021-09-13 12:49] ryfow opened #327 "[BUG] logs command loses characters after process prints to stderr"
**Describe the bug**

Once a process prints to stderr, `exo logs` stops showing the first character of log lines and the timestamp printing ends.

**To Reproduce**

1. Create a process that logs to stderr.
2. See that the first character of output is missing

[code]

**Expected behavior**
I expect `exo logs` to print the first character of log lines.

**System Info (please complete the following i

[2021-09-13 15:43] BenElgar commented on #327
Thank you for the report! I can confirm that I can reproduce and that it appears to be to do with the terminal escape sequence used here: https://github.com/deref/exo/blob/supervise-logging/cmd/exo/logs.go#L117

Working on a fix.

[2021-09-13 16:31] #327 closed

[2021-09-14 19:55] #314 closed

[2021-09-14 21:17] brandonbloom commented on #326
That understanding doesn't seem to jive with the quoted text you included:

This seems to imply to me that an empty string message is valid. However...

This says an empty _packet_. That is no message, and no other metadata in the packet.

I can't find any evidence in the spec or easily searchable on line about whether or not newlines are expected to be included, but I would assume not based on th

[2021-09-14 22:29] #326 closed

[2021-09-15 11:17] BenElgar commented on #327
@ryfow we've merged a fix and we've released a new version. Do you reckon you could try this again?

[2021-09-15 13:33] ryfow commented on #327
Yep, looks good!

[2021-09-15 13:36] BenElgar commented on #327
Marvellous! Let us know if you encounter any other issues! :)

[2021-09-18 17:40] jwmza opened #336 "[BUG] `.exo` directory growing very large in size"
**Describe the bug**
My production `.exo/var` directory has inflated to >2 GB in size, ~99% of which is in `logs`

**Expected behavior**
Some sort of reasonable garbage collection to keep the storage used small. Ideally it would be nice to have a user configurable storage limit so that users could decide whether they want unlimited history, or any byte amount.

**Screenshots**
[code]

[2021-09-18 21:10] brandonbloom commented on #336
I thought we had this garbage collection, but maybe we forgot to enable it or it broke. Will investigate. Thanks!

[2021-09-20 12:51] BenElgar commented on #298
Can no longer reproduce. Closing for now.

[2021-09-20 12:51] #298 closed

[2021-09-20 15:52] BenElgar commented on #336
So there is definitely something that looks like garbage collection built in: https://github.com/deref/exo/blob/main/internal/logd/logd.go#L67-L70

It would appear that the issue is that `NextLog` isn't appropriately returning a log when the `after` parameter provided is `nil`.
https://github.com/deref/exo/blob/131642a2bfaae9255251042f77529e227caf243f/internal/logd/store/badger/store.go#L52
If you

[2021-09-20 18:54] brandonbloom commented on #336
@BenElgar Thanks for investigating. If you feel like you know how to fix it, please self-assign. Otherwise, lmk and I can take a look at it.

[2021-09-20 19:21] jwmza commented on #336
At risk or being repetitive, even if there is a garbage collector I think it's a good idea to allow user configurable storage limits in a way such that we can intelligently keep anywhere from very little history to arbitrarily large history based on what the user wants and their machine. Sensible default value ofc.

[2021-09-20 19:24] brandonbloom commented on #336
Let's fix the bug first and then consider any configuration as a follow-up feature request.

[2021-09-21 10:24] BenElgar opened #340 "Create file browser backend"
Should provide this interface:
[code]

[2021-09-21 10:28] BenElgar opened #341 "Create project templating backend"
Should provide the following interface for creating a project:
[code]
where the return result is a workspace ID.

And the following for listing available templates:
[code]
where the return result is a list of template names.

This command should:
1. fail if `path` exists
2. create `path` as a directory
3. If a template was provided:
	a. copy the templated files into the directory
	b. insert a rele

[2021-09-21 16:29] #340 closed

[2021-09-21 16:51] brandonbloom commented on #341
I'd like to propose a few tweaks to this interface.

1) In `createProject`: specify templates by URL, not by name. This way _external_ templates can be supported someday. This way the template ID is just the path to the root of the directory on github or something like that.
2) Extend the return value of `listTemplates` to a richer structure, so that we can add metadata. For example, the template

[2021-09-21 18:35] brandonbloom opened #344 "[FEATURE] Pseudo Terminal (PTY)"
Today, we do not provide a pseudo terminal (PTY) to programs. A lot of programs detect the presence of a PTY/TTY in order to automatically enable/disable colors or similar. Also, some programs do interactive UI and the like.

https://evilmartians.com/chronicles/introducing-overmind-and-hivemind discusses this in more detail.

[2021-09-21 18:42] brandonbloom opened #345 "[FEATURE] Force colors where possible"
A key motivation for #344 (PTY support) is to convince programs to print colors in logs. Full PTY support is a tall order, so until then, maybe we should do some buildpack-like magic to determine which environment variables to set to encourage programs to override their PTY detection.

For example, `FORCE_COLOR=1` for the npm chalk package used by next.js. See https://github.com/vercel/next.js/iss

[2021-09-21 18:42] brandonbloom commented on #345
cc @finnigantime

[2021-09-21 18:43] brandonbloom commented on #344
cc @finnigantime

[2021-09-21 18:43] brandonbloom commented on #98
Really big/important event: failed to start process! Ran in to this with @finnigantime and it was really not clear what was wrong. Would be good to get that as a system event in the common logs.

[2021-09-21 18:45] brandonbloom opened #346 "[BUG] auto scroll in GUI log viewer a little fiddly/jerky near bottom"
Reported via @finnigantime

When scrolling up just a little bit, new log messages were coming in, created some fiddly jerky motion to the bottom of the log viewer in the GUI. Seemed that the rate of new messages and some race condition was happing. More investigation/experimentation necessary to tune this correctly.

[2021-09-21 18:50] brandonbloom opened #347 "[FEATURE] clear log scrollback"
Sometimes, you want a clear/fresh slate in your log viewer so that you can clearly delineate new log messages quickly and visually. Typical terminals support clearing scroll back, often used for this purpose.

we should have a button in the GUI for this, and support typical hotkeys: cmd+k, ctrl+l

i suspect we could implement this by explicitly adding some kind of system event to the log & then ha

[2021-09-21 18:57] brandonbloom opened #348 "[FEATURE] command aliases / operation components"
This is a tracking issue for two undeveloped feature request ideas.

One is a git-like command alias system. See `git help config` and jump to `alias.*` for details.

The other some way to define commands/operations/scripts/whatever that appear in a GUI for convenient execution.

In both cases, we should deeply consider team/sharing use cases.

cc @finnigantime

[2021-09-21 18:58] brandonbloom commented on #348
One motivating use case comes from @finnigantime, where he wants to restart a pair of two services and wants to run one command or otherwise avoid listing both service names for this common operation in his development environment.

[2021-09-21 18:59] brandonbloom commented on #153
cc @finnigantime

[2021-09-21 23:29] brandonbloom commented on #153
Some foundational WIP here: https://github.com/deref/fsw

[2021-09-22 10:34] BenElgar commented on #336
I spent a little time on it and couldn't immediately figure out how to construct a valid `nextName` in that function for the first entry in the store — `mustLogFromKey` would panic unexpectedly. That being said, I'm sure I can figure it out.

[2021-09-22 14:59] #341 closed

[2021-09-22 21:14] brandonbloom commented on #336
@BenElgar Don't worry about it. I'm going to replace the logging backend with sqlite very soon anyway. I'll fix this in the process (and surely break something else).

[2021-09-24 15:23] #336 closed

[2021-09-24 15:33] brandonbloom opened #360 "[BUG] CORS permissions too lax"
Blocked by #357

[2021-09-24 16:34] brandonbloom commented on #360
See also #361

[2021-09-24 22:20] brandonbloom commented on #262
More generally, there are some issues with shutdown paths. `exo exit` shuts down the daemon, but doesn't stop supervised processes. Is that OK? Meanwhile, `exo workspace destroy` does stop processes, but potentially fails & then there is no obvious way to cleanup. More thought & various improvements are needed.

[2021-09-24 22:37] brandonbloom commented on #98
Easiest idea here is to create a log stream for the workspace and assign it the pretty-name `EXO`. Since component names must be lowercase valid domain names, UPPER CASE names are unambiguously system events.

[2021-09-27 19:22] #360 closed

[2021-09-27 19:24] #345 closed

[2021-09-30 17:24] jwmza opened #386 "Create better global `Modal` system"
Gonna merge this as-is and loop around when or before we need more modals in order to set up a global store-based modal system. There's a good example implementation here: https://svelte.dev/repl/033e824fad0a4e34907666e7196caec4?version=3.43.1

_Originally posted by @jwmza in https://github.com/deref/exo/pull/378#issuecomment-931517619_

[2021-09-30 17:25] jwmza commented on #208
Okay I think this "bug" is fixed now - there will always be improvements to be made in future, but the new cards list is good in my books. Feel free to re-open or make a new issue regarding a particular problem with it if you disagree :)

[2021-09-30 17:25] #208 closed

[2021-09-30 17:48] #346 closed

[2021-09-30 17:48] #347 closed

[2021-09-30 18:25] brandonbloom commented on #270
Hey @BenElgar I think #387, #321, and #280 combined should be enough to resolve this. What do you think?

[2021-10-01 10:48] BenElgar commented on #270
I think it depends on the answer to https://github.com/deref/exo/pull/387#pullrequestreview-768817302. Perhaps that PR changes something fundamental but I'm not sure I see what.

[2021-10-01 11:11] BenElgar opened #390 "[BUG] exo run receives all logs"
**Describe the bug**
When running `exo run` you get all of the logs for the history of the workspace, not just the logs for the processes you just started.

[2021-10-01 11:19] BenElgar opened #391 "[BUG] exo run doesn't make clear when a process doesn't start"
At the moment it's very unclear that a process has failed to start. In the scenario below the `web` component failed to start but `exo run` happily continued to printing logs for the `postgres` component without emitting an error message. My ideal would be that `exo run` halts if a process fails to start.

[code]

[2021-10-01 11:24] BenElgar commented on #391
Never mind, sorry, this was because `exo run` was running the docker compose file rather than the procfile that I was expecting it to.

[2021-10-01 11:24] #391 closed

[2021-10-01 15:02] brandonbloom commented on #270
I answered over there. Let me know if that clears it up.

[2021-10-01 15:37] BenElgar commented on #270
Okay, that makes sense. I'm still not entirely sure that we perform sufficient validation before transforming the spec into the state that I'd be confident that people won't ever run into problems — but I'm happy to move on and see if that happens in practice.

[2021-10-01 16:10] brandonbloom commented on #270
I think that's a separate problem & one which is mitigated by #271. Closing this now.

[2021-10-01 16:10] #270 closed

[2021-10-01 16:30] brandonbloom commented on #98
This works now, though additional log messages may be helpful.

[2021-10-01 16:30] #98 closed

[2021-10-04 23:20] vincentjames501 commented on #301
I'd love to use this with the homebrew package manager on MacOS, however, the licensing of this project makes it tricky as we can't choose an option from: https://spdx.org/licenses/ .  I know it has been discussed in #299, but is there any chance of choosing a different license? I think this is an excellent tool and I fear the custom license may provide a less optimal developer experience and thus

[2021-10-04 23:52] brandonbloom commented on #301
Hi @vincentjames501, Thanks for reaching out.

As mentioned before, open to relicensing, but still TBD. We're working on a SaaS component now & need to figure out how to integrate it. The ideal would be fore Exo to be entirely "proper" Open Source core, but there is maintenance overhead that we need to sort out. Will update this thread when things evolve there.

Beyond the licensing concerns, exo

[2021-10-05 00:45] vincentjames501 commented on #301
@brandonbloom , I think that would be a great solution for the time!

[2021-10-05 03:41] brandonbloom commented on #301
OK, we'll look at that more closely soon. I updated the description of this issue to suggest that we use https://goreleaser.com/

Work in progress here:  https://github.com/deref/exo/pull/395

Have to do a little bit of a dance to to switchover from our existing release & self-upgrade machinery without losing any users along the way. There are other priorities now, so might take a couple of weeks

[2021-10-06 22:28] brandonbloom commented on #285
Let's say that this is blocked by #301.

[2021-10-06 22:29] brandonbloom commented on #269
Is this still happening? And is it still a dev-time only issue?

If it is dev only, is it annoying? If so, we can try to fix it together. Otherwise, we can probably ignore this.

[2021-10-07 13:24] BenElgar commented on #390
Yes, it appears to still be true.

My expectation when running `exo run` would be that it only displays logs for the current run. I wouldn't expect it to display any historical logs. I don't necessarily have an issue with it displaying logs of old components so long as those components are actually running.

[2021-10-07 15:39] jwmza commented on #269
@brandonbloom yes - it is still happening, and yes so far only in dev.
It's kinda annoying but not really because I barely need to use the Monaco editor for more than a few seconds in dev. Wouldn't allocate any time to fixing this until it shows up in prod.

[2021-10-11 23:32] brandonbloom opened #408 "[BUG] `exo gui` outside of a workspace no longer respects default root path"
Go to a non-workspace directory and run `exo gui`, it will take you to the new project page and provide a `root=` query parameter. The GUI no longer makes use of this parameter as a default value when creating a project.

It was even more broken in that it just 404'd, but that is fixed here: https://github.com/deref/exo/commit/d92d1e40e8d5367a4e1a6587b6eb0c66110b24ac

[2021-10-12 20:07] #310 closed

[2021-10-15 12:09] BenElgar opened #414 "[BUG] Buttons have no lids"
![image](https://user-images.githubusercontent.com/3443024/137483551-bf253937-32b6-44f9-a353-74f2d04b8695.png)

My understanding is that this is to do with inconsistent sub-pixel rendering between browsers. I experience the same on mobile. My proposal would be to ensure that everything has at least a thin solid border and then do 3D effects around it.

[2021-10-15 20:54] jrysana opened #417 "Suggestion: Render external link buttons as anchor tags with button styling instead of button tags."
Nbd but I'd prefer if external links were actually anchor tags, styled to look like buttons rather than using JS. That way the user can know what will happen before they click on the link.

_Originally posted by @BenElgar in https://github.com/deref/exo/pull/416#discussion_r730062199_

[2021-10-16 22:44] brandonbloom commented on #18
This has worked correctly for Docker containers for some time now, but not yet for unix processes.

[2021-10-16 22:48] #18 closed

[2021-10-16 23:30] brandonbloom commented on #181
Assigning this to myself as part of the manifest work. Manifests are HCL formatted and so there is an expression language.

[2021-10-18 15:40] jrysana opened #423 "[BUG] Left and right panel component colors don't match."
**Describe the bug**
The colors generated for identifying components in the card list and log stream are no longer in sync - they should match each other (as in, for the same underlying component).

[2021-10-18 16:18] jwmza opened #424 "[BUG] Stopping Next.js dev process spins indefinitely"
**Describe the bug**
Stopping Next.js dev process spins indefinitely. After pressing the "stop" button in the GUI, the process stops, but is in a seemingly infinite spinning state unable to be re-started until the web page is refreshed.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a Next.js process (in this case the exo landing page)
2. Stop the process from the GUI

**Expected beha

[2021-10-18 16:24] #414 closed, assigned to jrysana

[2021-10-19 21:27] brandonbloom opened #428 "[BUG] Ungraceful handling of port conflicts for the backend server"
via @coderberry

If the backend, gui, or syslog ports conflict, the backend fails without any good way of communicating this to the user except in the exod logs.

[2021-10-20 17:58] brandonbloom commented on #428
Partial fix here: https://github.com/deref/exo/pull/430

[2021-10-21 15:00] #423 closed, assigned to jrysana

[2021-10-28 17:14] brandonbloom opened #457 "[FEATURE] stop all workspaces"
**Is your feature request related to a problem? Please describe.**

Sometimes, I work on a few separate projects and forget to tidy up after myself. I wind up with multiple workspaces and leave them all running. I'd like some way to shut them all down quickly.

**Describe the solution you'd like**

One idea is something like `exo workspace foreach stop`, which would run the stop command in each wo

[2021-10-29 17:08] ryfow opened #459 "[BUG] server crash on docker-compose.yml parse error"
**Describe the bug**

With a particular docker-compose.yml file in my workspace directory, `exo new process` causes `exo server` to crash.

**To Reproduce**
Steps to reproduce the behavior:
1. create a workspace
2. put a docker-compose.yml file with following contents in the workspace dir
[code]
3. run `exo new process foo -- bash -c hello`
4. See error:
[code]
5. See error in `~/.exo/var/exod.std

[2021-10-29 18:32] brandonbloom commented on #459
Binary signing is on our TODO list as well. I think that if you wget or curl the binary, it won't get the attributes that upset macOS's security features, but if you just download it from your browser, it will.

[2021-10-29 21:44] finnigantime opened #460 "[BUG] exo env is broken"
**Describe the bug**
`exo env` is giving me an error

**To Reproduce**
1. `exo env`

**Expected behavior**
Works! Prints my env vars.

**Screenshots**
[code]

**System Info (please complete the following information):**
 - OS: macOS
 - Component cli
 - Version 2021.10.28-2

[2021-10-29 23:45] brandonbloom commented on #77
cc @finnigantime

[2021-10-29 23:48] #77 closed

[2021-10-29 23:52] brandonbloom opened #462 "[BUG] need to improve handling of client/server version mismatches"
**Describe the bug**

@finnigantime has run in to a few issues (see #460) that seem to stem from the same root cause: the daemon didn't exit/restart on upgrade. We should fix that! And we should also make sure that the client/server versions agree and report more sensible error messages if they do not.

[2021-10-29 23:52] brandonbloom commented on #462
@BenElgar could you please take a look at this whole general problem? Thanks!

[2021-10-29 23:52] brandonbloom commented on #460
Hey @finnigantime, thanks for the report. I suspect that this is the same underlying issue as you had earlier with the server failing to restart on upgrade. Can you confirm if this is still broken for you?

[2021-10-29 23:57] brandonbloom commented on #459
I cut a release along with one other small bug fix. Will leave this ticket open to track work on making the docker-compose file handling much more robust. This is presently somewhat difficult to test, but the work in https://github.com/deref/exo/pull/426 should make it much easier to work with & so test coverage will go way up here.

[2021-10-30 00:00] brandonbloom commented on #424
Does `exo stop gui` work as expected? Or does that cause it to spin indefinitely as well?

[2021-11-01 16:26] brandonbloom commented on #462
Maybe all we need to do is make this validate the version:
https://github.com/deref/exo/blob/a55ee6967df1b5642b7e1b625624ada02f5ca7c6/internal/cli/status.go#L47
?

[2021-11-01 21:20] finnigantime commented on #460
Fixed now!

[2021-11-01 21:20] #460 closed

[2021-11-01 21:22] finnigantime opened #464 "[BUG] `PORT=x` env var passed in Procfile not working"
**Describe the bug**
My Profile includes:

[code]

However, the `PORT` env var does not get passed correctly to the foo process, which ends up running on port `5200`.

**To Reproduce**
See above ^

**Expected behavior**
Process `foo` runs on port `3000`.

**Screenshots**
n/a

**System Info (please complete the following information):**
 - OS: macOS
 - Component cli
 - Version `2021.10.29`

[2021-11-01 21:35] brandonbloom commented on #464
Hey Pat, I think this is working as intended, but you've got the usage a bit off. Please try this:

[code]

The way you had it was passing the environment variable to `cd`, not `yarn`! I just tested this locally like this:

[code]

And the second call to `env` does not show A=1, which is what I'd expect.

If it still doesn't work, please reopen this issue & we'll investigate!

[2021-11-01 21:35] #464 closed

[2021-11-01 22:53] finnigantime commented on #464
d'oh! I think this worked with an earlier version of exo (PORT env var was propagated to last command in the chain) and I failed to look at this closely before. Thanks!

[2021-11-01 23:12] brandonbloom commented on #464
Yeah, to be honest, I have no idea how it worked for you before ¯\_(ツ)_/¯  Apologies for the confusion.

[2021-11-02 20:00] brandonbloom opened #466 "[FEATURE] Flag for `exo env` to show origin of variables"
**Is your feature request related to a problem? Please describe.**

`exo env` prints variables in .env file format, but that loses some potentially important debugging information that the GUI already supports: The origin of each variable!

**Describe the solution you'd like**

Add a flag to print with a tabwriter that prints three columns: name, value, origin. Ideally with a header column too, pr

[2021-11-03 15:08] ryfow opened #467 "[FEATURE] exo logs warning on missing service name"
**Is your feature request related to a problem? Please describe.**

If I run `logs` on a service that doesn't exist, I don't get a warning that tells me I just mistyped something. `exo logs asdjklsd` just appears to hang quietly.

**Describe the solution you'd like**

I'd like to be told if I just tried to view logs for something that doesn't exist.

[2021-11-03 15:15] BenElgar opened #468 "[BUG] Sometimes event IDs are duplicated"
In the logs component we loop over events by event ID:
https://github.com/deref/exo/blob/a55ee6967df1b5642b7e1b625624ada02f5ca7c6/gui/src/components/logs/Logs.svelte#L40-L42

For some reason, sometimes those event IDs are not unique, causing the page to break. I cannot immediately find a consistent reproduction but I have encountered it several times.

[2021-11-03 15:17] ryfow opened #469 "[FEATURE] exo logs should have a non-following mode"
**Is your feature request related to a problem? Please describe.**

I'd like to export the current logs of a service to a file so I can examine them with tools I already know how to use. As I workaround, I can `exo logs | tee logfile.log` and then hit CTRL-C, but that's annoying.

**Describe the solution you'd like**

I'd like to see `exo logs` work like `tail` & `docker logs` where you can option

[2021-11-03 23:04] brandonbloom commented on #467
Yeah, that's not ideal. We can definitely improve this. Thanks for the report, will get it in the backlog.

[2021-11-03 23:17] brandonbloom commented on #469
Great feedback, thanks. We'll probably stay with following-by-default, since it's the most convenient/common operation from folks we've talked to, but can definitely add flags for controlling output/behavior.

Would `--no-follow` do the trick for you?

Could also - potentially - add a separate `exo tail` command, which takes the more traditional flags & define `exo logs` in terms of `exo tail --fo

[2021-11-04 02:07] ryfow commented on #469
Yeah, either option would do the trick.

[2021-11-05 10:35] eerohele opened #478 "[BUG] Logs for container components not showing up in GUI or CLI"
**Describe the bug**
Container component logs don't show up in the GUI or in the terminal.

**To Reproduce**
1. Create `exo.hcl` with this content:

[code]

2. Run `exo init`.
3. Run `exo gui`.

**Expected behavior**
If I use a similar Docker Compose manifest and type `docker compose up`, Docker Compose starts tailing Postgres logs. Based on both the description of the app and the screenshot in th

[2021-11-05 13:33] #469 closed

[2021-11-05 13:43] BenElgar opened #480 "[BUG] Can start non-existent process"
If a process doesn't exist we should throw an error rather appearing to succeed:

[code]
![image](https://user-images.githubusercontent.com/3443024/140519546-bc52ed42-12fc-4b98-819a-b6c954ec578a.png)

[2021-11-05 13:47] BenElgar opened #481 "[BUG] exo manifest format panics if read file is changed"
[code]

[2021-11-05 14:20] BenElgar opened #482 "[BUG] Can't run a single component without running everything"
In order to initialise the project what I'd like to do is something like
[code]

In practice this doesn't work because `exo apply` is never called. But if I call `exo apply` that then runs every service, some of which misbehave if I haven't yet performed the initialisation.

[2021-11-11 14:05] BenElgar opened #499 "[BUG] Can't easily remove underlying volumes"
We don't provide users with any mechanism to remove/empty docker volumes — the equivalent of running `docker volume rm my-vol`. Right now they have to run that command directly. The problem then is that, since we don't clean up containers, the user will be presented with an error like the following:
[code]

I would propose we add a `--remove-volumes` flag to the `exo stop` command to handle this.

[2021-11-11 16:23] BenElgar opened #501 "[BUG] Creating a project from a template does not apply the manifest"
When we create a project using one of the templates that templates manifest should be automatically applied upon creation.

There are two reasons this doesn't happen right now:
1. https://github.com/deref/exo/issues/482, which means that we would _start_ all of the components, which isn't what we want.
2. I'm not clear on how to best get a handle on a workspace from within a kernel function. Speci

[2021-11-15 18:51] brandonbloom commented on #480
Related: #467

[2021-11-15 18:51] brandonbloom commented on #482
Related: #324

[2021-11-15 18:57] brandonbloom commented on #478
@eerohele Apologies that I missed this issue! Didn't mean to keep you waiting.

This absolutely should work, but I can confirm that it is not for this image for some reason. We'll investigate.

[2021-11-15 19:08] brandonbloom commented on #478
Some debugging notes: I think this may be a docker issue:

[code]

Elsewhere:

[code]

No logging packets are sent to that port, unclear why. We've had issues with Docker's syslog driver in the past. Maybe something changed here. Continuing to investigate.

[2021-11-15 21:26] brandonbloom commented on #478
OK, found the issue. This is a mac vs linux problem. @BenElgar fixed this for linux, breaking it for mac in 8fffd95c34e610f31618bd0b872bbc0ecd58ef5a - Working on a fix.

[2021-11-15 22:50] brandonbloom opened #507 "[UX] submit button below directory picker with long file list is confusing"
See image:

<img width="1137" alt="image" src="https://user-images.githubusercontent.com/119164/141864999-d217a386-89aa-445a-8502-5f916ce2890e.png">

I didn't realize I had to scroll down at first. Would be nice if the directory list was a scrollable region with a max-height, since I didn't care about any entries in the list, I just wanted to click create where I was at.

[2021-11-15 22:53] brandonbloom opened #508 "[BUG] Weird logged out state UX"
See screenshot:

<img width="1046" alt="image" src="https://user-images.githubusercontent.com/119164/141865419-170a99c9-a60a-4e71-964f-901769d23688.png">

This appeared after I clicked "unauthenticate" (should that be "logout"?) and I expected to be able to login again.

[2021-11-15 22:53] brandonbloom commented on #508
Assigned to @BenElgar to improve. Please consult with @jwmza if you need ui/ux design support.

[2021-11-15 22:55] brandonbloom opened #509 "[BUG] `exo login` fails"
[code]

[code]

[2021-11-15 22:56] brandonbloom opened #510 "[FEATURE] `exo logout`"
I can login with `exo login` (well, barring #509), so it would be nice to logout via `exo logout`.

[2021-11-15 22:57] brandonbloom opened #511 "[FEATURE] `exo whoami`"
For diagnosing authentication issues, it would be convenient to have a `exo whoami` command that prints some information about the currently logged in Deref user.

[2021-11-15 23:04] brandonbloom commented on #481
I wouldn't expect this usage to work because the shell truncates (deletes & recreates?) the destination file.

However, it definitely shouldn't crash! 41b229d0 fixes that.

Though I'll take this as a feature request for being able to do a format-in-place on the manifest file & will follow-up with that soon.

[2021-11-15 23:15] #481 closed

[2021-11-15 23:21] brandonbloom commented on #386
I spotted another `alert` somewhere. We should really fix this before they get out-of-hand.

[2021-11-15 23:25] brandonbloom commented on #462
Looks like @BenElgar made various fixes to check version numbers etc, so going to close this issue.

However, we still need to address #54

[2021-11-15 23:25] #462 closed

[2021-11-15 23:26] brandonbloom commented on #54
This used to be "re-installing using pipe-to-sh doesn't restart daemon", but I renamed it because I think it might apply to any upgrade via any mechanism (Homebrew, deb packages, etc too).

@BenElgar Can you investigate/fix this? Thanks

[2021-11-15 23:29] brandonbloom commented on #179
A related / more-general issue here is use of PTY features. I noticed that in the E2E tests, the logs are pretty ugly and verbose because they simply reprint the entire job/task tree on each status update during asynchronous tasks such as starting processes.

[2021-11-15 23:33] brandonbloom commented on #408
@jwmza bump - seems this one fell through the cracks. should be an easy fix!

[2021-11-15 23:35] brandonbloom commented on #499
This seems like a real problem, but I don't love the proposed solution borrowed from Compose.

Why don't we clean-up containers? Is that just a bug?

Why wouldn't we clean-up volumes automatically?

[2021-11-15 23:36] brandonbloom commented on #424
@jwmza more info needed please :)

[2021-11-15 23:37] brandonbloom commented on #301
@BenElgar What is our status here? Also, I think we can't call this complete until the docs are fully updated.

[2021-11-15 23:38] brandonbloom commented on #265
This made it in to the 2021.10.27 release.

[2021-11-15 23:38] #265 closed

[2021-11-15 23:39] brandonbloom commented on #501
See also #305

[2021-11-16 01:13] jwmza commented on #508
By the way, I don't think this account control stuff should be in the preferences page.

I'll modify the layout to have a list of pages available in the bottom-left ellipsis menu, including preferences and account settings.

[2021-11-16 01:14] jwmza commented on #507
Thanks for noting this. I agree - will fix this.

[2021-11-16 06:24] eerohele commented on #478
No worries, thanks for looking into it!

[2021-11-16 10:40] BenElgar commented on #499
Docker generally leaves containers around after they've stopped running so that you can go and inspect them afterwards. That seems pretty reasonable but I'd be okay with cleaning them up as well.

Presumably the point of having a volume is to persist state between runs of the workspace. Cleaning up the volumes automatically would seem to render them mostly useless — but maybe I'm misunderstanding.

[2021-11-16 11:53] #508 closed

[2021-11-16 12:07] #511 closed

[2021-11-16 12:59] #509 closed

[2021-11-16 13:44] #510 closed

[2021-11-16 18:36] brandonbloom commented on #499
Gotcha. I think this is related to the work I started over in #385 - I think what I want to do is separate "component" from "resource", so that a component can actually have N >= 0 resources at any given time. For instance, a container component starts with zero resources, then creates one, then when it creates another resource later, it may keep around the old resource for some garbage collection

[2021-11-16 20:11] brandonbloom opened #521 "[BUG] symlinks to directories don't show up in read-dir results"
**Describe the bug**

For example, on Mac `/tmp` is a symlink to the `/private/tmp` directory, but it doesn't show up in `read-dir` results because `os.IsDir` returns false.

**To Reproduce**

1. Create or find a symlink on disk somewhere
2. `exo gui` in a non-workspace directory
3. click "empty" project or whatever template, navigate to where that symlink is
3. note that it doesn't appear in the

[2021-11-16 22:14] brandonbloom commented on #478
Hey @jwmza 6fe4c786 should fix windows. Can you please try the latest `dexo` on the example from the original issue here? Let me know if the logging works for you now. Thanks.

[2021-11-17 05:03] jwmza commented on #478
Seems no luck with latest `main`

![image](https://user-images.githubusercontent.com/51100181/142137774-e1e3aa64-0148-4ab0-807d-f88dcc96733f.png)

[code]

[2021-11-17 16:02] BenElgar commented on #301
I improved the docs for install here: https://github.com/deref/exo-docs/pull/1

[2021-11-17 16:20] #521 closed

[2021-11-17 16:24] brandonbloom commented on #301
Great, thanks!

@vincentjames501 et al, please let us know if you have any trouble with the packages.

[2021-11-17 16:24] #301 closed

[2021-11-17 16:25] brandonbloom commented on #478
D'oh, ok - @BenElgar you had some idea on how to detect the right thing to do here?

[2021-11-17 16:49] BenElgar commented on #478
How about https://github.com/deref/exo/pull/526?

[2021-11-17 17:04] #408 closed, assigned to jrysana

[2021-11-17 17:57] brandonbloom commented on #507
Fixed by #523

[2021-11-17 17:57] #507 closed

[2021-11-17 19:02] MaxmumP commented on #285
I had difficulty getting completions to generate on Fish. I have no clue why, as `pkg-config --variable completionsdir fish` seems to resolve the proper directory, and `exo completion generate fish` works fine to output a completions file (I was able to just pipe that where it belonged). I'm not sure if this should be a new issue or could be attached to this one, but I'll start here.

I wrote up m

[2021-11-17 20:03] brandonbloom commented on #285
cc @BenElgar who can help with installer and shells stuff

[2021-11-18 13:03] BenElgar opened #527 "[BUG] Formatting manifest replaces docker file with exo file"
[code]

[2021-11-18 13:55] BenElgar commented on #285
I'm hoping #528 improves the fish use case.

[2021-11-18 15:09] BenElgar commented on #424
Confirm that I can recreate. Investigating.

[2021-11-18 18:47] BenElgar opened #529 "[BUG] Fix docker logging on WSL"
The problem is that docker logs don't appear (and probably never have) when using exo in WSL.

I spent some time debugging this with John and my understanding of the problem is as follows:
for logging we have three components that need to communicate: the docker daemon, the exo daemon and the syslog daemon. In practice, the exo daemon and the syslog daemon always reside on the same network interfa

[2021-11-18 22:17] brandonbloom commented on #529
Switching from UDP to TCP is problematic because the Docker daemon fails if connections can't be established, and then does not reconnect if the connection is severed. This means that upgrades or other interruptions of the syslog server will cause all logging to stop working. Though, upgrades already run the risk of losing messages with UDP, it would be nice to use something more reliable.

One op

[2021-11-18 22:19] brandonbloom commented on #285
Thanks @BenElgar!

@MaxmumP, we'll let you know when this lands in the next release & maybe you can give it a try and let us know how it works. Thanks for the report.

[2021-11-19 00:20] MaxmumP commented on #285
Yeah, that looks great. I had assumed you had already been using pkg-config to find the completions directory. Was impressed at how fast @BenElgar got that in! :-)

[2021-11-19 14:51] #424 closed

[2021-11-22 15:35] BenElgar opened #533 "[BUG] Manifest files with multiple containers fail to run"
If one attempts to start a manifest file that has more than one container attached, only one of the containers will successfully start:
`exo.hcl`:
[code]

[code]

I added a repro of the problem to the test suite: https://github.com/deref/exo/pull/532

[2021-11-22 22:50] brandonbloom commented on #527
D'oh - more issues with this not-intended-to-be-released-yet format command :)

This one is because the only output format supported is exo.hcl, which is clearly a problem when the output file is the same as the input file with a different format.

A potential workaround is to use the redirection form:

[code]

This is similar to `exo manifest convert` with the output format will always as "exo.hc

[2021-11-24 20:55] jwmza commented on #386
@brandonbloom fixing this in #535 now. I'll set it up so it's easy to use this instead of `alert` in future.

[2021-11-29 08:28] eerohele commented on #478
Looks like this was fixed in 2021.11.16. Thanks!

[2021-11-29 08:28] #478 closed

[2021-12-01 12:38] BenElgar opened #537 "[BUG] Manifest allows components with the same name"
This is a manifest that is apparently valid and is successfully applied:

[code]

In practice this seems to consistently run the bash container:

[code]

[2021-12-01 12:49] BenElgar commented on #533
This can be worked around by adding a container name explicitly. This works fine:
[code]

[2021-12-01 21:29] brandonbloom commented on #537
Yeah, we should definitely reject this!

[2021-12-07 14:56] BenElgar opened #538 "[BUG] Sometimes we attempt to control containers that don't exist"
I believe the issue is a mismatch between what we refer to in exo as a container and what docker refers to as a container. Docker treats containers as disposable single use objects, to be lazily garbage collected at some undefined point in the future whilst, in exo, a container is really more akin to a docker-compose service. This causes problems when a docker container has been garbage collected

[2021-12-15 00:01] brandonbloom commented on #538
I think we can fix this as part of the other work I have planned to separate components from resources. Essentially, the component roughly correspond to the compose-style service with longer lifetime than the underlying container resource, which may be created/destroyed more freely.

[2021-12-20 16:04] #386 closed

[2021-12-21 16:59] arrdem commented on #181
+1, at present `env CONTAINER_VERSION=dev exo apply docker-compose.yaml` will produce something along the lines of `Error response from daemon: no such image foo::` rather than resolving the environment as `docker-compose` will.

[2021-12-21 17:05] arrdem opened #539 "[BUG] Attempting to create privileged containers produces an opaque error"
**Describe the bug**
It would appear that the `privileged: true` flag in the `docker-compose` manifest format isn't supported. Rather than producing an error to this effect, the daemon seems to encounter an internal failure and produces a user-opaque error which had to be isolated by bisecting a services list.

**To Reproduce**
Steps to reproduce the behavior:
`docker-compose` format spec -

[code

[2021-12-22 16:04] BenElgar commented on #539
Hi @arrdem! Thank you for reporting that. I believe I've successfully reproduced and pushed a fix here: https://github.com/deref/exo/pull/540

[2022-01-03 22:43] brandonbloom opened #541 "[FEATURE] more directly way to refresh daemon environment"
Right now, you have to do `exo exit` then restart the daemon to pickup any new environment variables at that level.

It shouldn't be necessary to do this.

[2022-01-03 22:43] brandonbloom commented on #541
cc @finnigantime

[2022-01-24 21:15] brandonbloom opened #542 "[FEATURE] Support shell aliases in Procfile"
Otherwise, you get "not found" errors.

cc @mankybansal

[2022-01-25 01:33] brandonbloom commented on #285
This was prematurely closed along with the Fish fix. Dynamic completions are not yet implemented.

[2022-02-01 22:48] brandonbloom commented on #459
Going to close this issue because the crash was already fixed and the next major release of exo has completely rewritten the docker-compose handling logic. Thanks again for the report!

[2022-02-01 22:48] #459 closed

[2022-02-01 22:56] brandonbloom commented on #499
See also "protected resources": #248

[2022-02-17 02:15] brandonbloom commented on #541
This will be fixed when #543 lands. See https://github.com/deref/exo/pull/543/commits/d27036fe03f88b9846a04699ed1e509501cfe9c2

[2022-02-17 02:45] brandonbloom commented on #537
This should be resolved in #543 by virtue of Cue's unification logic.

[2022-02-17 20:41] brandonbloom commented on #541
@stevekrenzel points out that the automatic environment refreshing logic means that something like `FOO=123 exo start bar` would not pass the `FOO` variable over to the `bar` program, which seems counter-intuitive. I think the new behavior of ignoring the ephemeral shell state is a better default, but definitely not ideal. Before closing this issue, we'll need to figure out if there is some way to

[2022-05-19 14:11] ryfow opened #546 "[FEATURE] Make `exo logs` print the exit code if the process is stopped"
**Is your feature request related to a problem? Please describe.**

Sometimes when I `exo logs <service-name>`, the process is stopped but it just seems like it isn't logging at the moment.

**Describe the solution you'd like**

I think printing `<process name> exited with status 1` or something similar would help.

**Describe alternatives you've considered**

Having exo logs exit if no processes

[2022-05-23 17:30] brandonbloom commented on #546
Great suggestion. Thanks.